/manage.py
/config.cfg
/maket/static/maket/bootstrap.bundle.min.js
/maket/static/maket/bootstrap.bundle.min.js.map
/maket/static/maket/bootstrap.min.css
/maket/static/maket/bootstrap.min.css.map
/maket/static/maket/bootstrap-icons.css
/maket/static/maket/navbar-top-fixed.css
