{% extends 'maket/main.html' %}
{% block title %}Администрирование{% endblock %}
{% block content %}
<!-- Modal delete Maket-->
{% include 'maket/deleteMaketModal.html' %}

<!--Заполнение HEX цветов><--->
<table class="table table-hover lh-1">
    <thead>
    <tr class="table-primary">
        <th colspan="2"  onclick="javascript:colapse_('hex_colors');">Заполнение HEX цветов</th>
        <th colspan="2" class="text-danger text-end"  onclick="javascript:colapse_('hex_colors');">всего</th>
        <th colspan="1" class="text-danger text-start"  onclick="javascript:colapse_('hex_colors');">{{lost_hex_len}}</th>
        <th class="text-end">
            <form action="lost_hex">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-primary">искать соответствия</button>
            </form>
        </th>
    </tr>
    </thead>
    <tbody id="collapse_hex_colors" style="font-size:80%;">
{% for l_hex in lost_hex %}
    <tr>
        <td>{{l_hex.item.name}}</td>
        <td>{{l_hex.item.item_name}}</td>
        <td>{{l_hex.code}}</td>
        <td>{{l_hex.print_name}}</td>
        <td>{{l_hex.order.order_id}}</td>
        <td>{{l_hex.order.customer.name}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>


<!-- несвязанные товарные позиции><--->
<table class="table table-hover">
    <thead>
    <tr onclick="javascript:colapse_('item_imports');" class="table-primary">
        <th colspan="2">несвязанные товарные позиции</th>
        <th colspan="2" class="text-danger text-end">всего</th>
        <th colspan="2" class="text-danger text-start">{{lost_imports_len}}</th>
        <th colspan="3"></th>
    </tr>
    </thead>
    <tbody id="collapse_item_imports" >
    {% for l_i in lost_imports %}
    <tr>
        <form action="lost_imports/{{l_i.0.id}}" id="form_lost_import_{{l_i.0.id}}" method="post">
        {% csrf_token %}
        <input type="text" hidden name="l_import" value="{{l_i.0.id}}">
        <input type="text" hidden name="l_det" value="{{l_i.1.id}}">
        </form>
        <td style="max-width:360px;">{{l_i.0.order.order_id}}</td>
        <td style="max-width:360px;">{{l_i.0.order.customer.name}}</td>
        <td style="max-width:360px;">{{l_i.0.name}}</td>
        <td>{{l_i.0.code}}</td>
        <td>{{l_i.0.print_name}}</td>
        <td class="text-danger fw-bold"> <= </td>
        <td>{{l_i.1.name}}</td>
        <td>{{l_i.1.item_name}}</td>
        <td><button type="submit" form="form_lost_import_{{l_i.0.id}}" class="btn btn-sm btn-outline-primary text-nowrap">
            установить связь
        </button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!-- несвязанные макеты><--->
<table class="table table-hover">
    <thead>
    <tr onclick="javascript:colapse_('lost_makets');" class="table-primary">
        <th colspan="5">несвязанные макеты</th>
        <th colspan="3" class="text-danger text-end">всего</th>
        <th colspan="2" class="text-danger text-start">{{lost_makets_len}}</th>
        <th colspan="1" class="text-danger text-start"></th>
    </tr>
    </thead>
    <tbody id="collapse_lost_makets" >
    {% for l_m in lost_makets %}
    <tr>
        <form action="lost_maket/{{l_m.0.id}}" id="form_lost_maket_{{l_m.0.id}}" method="post">
        {% csrf_token %}
        <input type="text" hidden name="l_maket" value="{{l_m.0.id}}">
        <input type="text" hidden name="l_order" value="{{l_m.1.id}}">
        </form>
        <td style="max-width:360px;">макет</td>
        <td style="max-width:360px;" id="ord_id_{{l_m.0.id}}">{{l_m.0.order_num}}</td>
        <td style="max-width:360px;" id="order_date_{{l_m.0.id}}">{{l_m.0.order_date| date:'d.m.Y'}}</td>
        <td style="max-width:360px;">{{l_m.0.maket_id}}</td>
        <td class="text-danger fw-bold"> <= </td>
        <td style="max-width:360px;">заказ</td>
        <td>{{l_m.1.order_id}}</td>
        <td>{{l_m.1.order_date|date:'d.m.Y'}}</td>
        <td id="cust_nm_{{l_m.0.id}}">{{l_m.1.customer.name}}</td>

        <td><button type="submit" form="form_lost_maket_{{l_m.0.id}}" class="btn btn-sm btn-outline-primary text-nowrap">
            установить связь
        </button></td>
        <td><button type="button"  class="btn btn-sm btn-outline-danger text-nowrap" data-bs-toggle="modal"
                    data-bs-target="#deleteMaketModal" onclick="javascript:delete_object_modal({{l_m.0.id}});">
            <i class="bi bi-x-lg"></i> удалить макет
        </button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!-- измененные клиенты><--->
<table class="table table-hover">
    <thead>
    <tr onclick="javascript:colapse_('changed_customers');" class="table-primary">
        <th colspan="2">расхождения в клиентах</th>
        <th colspan="4" class="text-danger fw-normal">количество {{changed_customers_len}}</th>
    </tr>
    <tr onclick="javascript:colapse_('changed_customers');" class="table-primary">
        <th>Заказ</th>
        <th>Дата</th>
        <th>Клиент в заказе</th>
        <th>Клиент в базе</th>
        <th>Группа клиента</th>
        <th class="text-danger fw-normal"></th>
    </tr>
    </thead>
    <tbody id="collapse_changed_customers">
{% for order in changed_customers %}
    <tr>
        <td>{{order.order_id}}</td>
        <td>{{order.order_date|date:'d.m.Y'}}</td>
        <td>{{order.customer_name}}</td>
        <td>{{order.customer.name}}</td>
        <td>{{order.customer.group}}</td>
        <form action="changed_customers/{{order.id}}" method="post">
        {% csrf_token %}
            <td><button class="btn btn-sm btn-outline-primary" type="submit">Изменить</button></td>
        </form>

    </tr>
{% endfor %}
    </tbody>


{% endblock %}