{% extends 'maket/main.html' %}
{% block title %}Справочники{% endblock %}
{% block content %}
<div class="d-flex justify-content-between">
      <div><h5>Цвета</h5></div>

<!-- Modal --> <form id="add_clr" action="{% url 'maket:add_clr' %}" method="post">
      {% csrf_token %}
        <div class="modal fade" id="addclrModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addclrModalLabel">Добавление Цвета</h5>
              </div>
              <div class="modal-body">
                 <!--  --->
              <div class="row p-1">
                  <div class="col-2">
                      <input type="text" class="form-control" name="clr_id" placeholder="Цвет"></div>
                  <div class="col-4">
                      <input type="text" class="form-control" name="clr_nm" placeholder="Название"></div>
                  <div class="col-3">
                        <input type="text" class="form-control" name="dt1_ptn" placeholder="Pantone"></div>
              </div>
              <div class="row p-1">
                    <div class="col">
                        <input type="text" class="form-control" name="dt1_hex" placeholder="#HEX"></div>
                    <div class="col">
                    <div class="input-group" >
                    <select class="form-select" id="ColorSelect_add" name="ColorSelect_add">
                    {% for clr_sch in color_scheme %}
                         <option value="{{ clr_sch.id}}" >{{ clr_sch.scheme_name}}</option>
                    {% endfor %}
                    </select>
                    </div>
                    </div>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    </div>
<table class="table table-sm table-hover m2">
<thead>
<tr class="table-primary">
    <th></th>
    <th class="text-center" onclick="javascript:colapse_('5');">ID</th>
    <th class="text-center" onclick="javascript:colapse_('5');">Название</th>
    <th class="text-center" onclick="javascript:colapse_('5');">Pantone С</th>
    <th class="text-center" onclick="javascript:colapse_('5');">#HEX</th>
    <th class="text-center" onclick="javascript:colapse_('5');">Цветовая группа</th>
    <th colspan="2" class="text-end">
<!-- Button trigger modal --><button type="button" class="btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addclrModal">
      Добавить</button>
    </th>
</tr>
</thead>
<tbody id="collapse_5">
{% for clr in color %}
<form action="update_clr/{{ clr.id }}" method="post">
{% csrf_token %}
<tr >
    <td class="col-1"><a href="javascript:clr_edit({{clr.id}}, '{{clr.color_scheme.scheme_name}}');">
        <button type="button" class="btn-sm btn-outline-primary" id="red_{{clr.id}}">Ред.</button>
    </a> </td>
    <td class="col-1">
        <input class="form-control" value="{{clr.color_id}}" disabled id="clrid_{{clr.id}}" name="clrid"></td>
    <td class="col">
        <input class="form-control" value="{{clr.color_name}}"  id="clrnm_{{clr.id}}" disabled name="clr_nm"></td>
    <td class="col-2">
        <input class="form-control" value="{{clr.pantone}}" disabled id="clrpnt_{{clr.id}}" name="dt1_ptn"></td>
    <td class="col-2">
        <input class="form-control" value="{{clr.color_code}}" disabled  id="clrhex_{{clr.id}}" name="dt1_hex"></td>
    <td class="col-2">
        <div class="input-group" >
        <select class="form-select" id="ColorSelect2_{{clr.id}}" name="ColorSelect2" disabled>
            <option value="0" selected>{{ clr.color_scheme.scheme_name}}</option>
        </select>
        </div>
    </td>
    <td class="col-1 text-end">
        <a href="javascript:clr_edit_reverse({{clr.id}}, '{{ clr.color_scheme.scheme_name}}');">
        <button type="button" class="btn-sm btn-outline-danger" id="otmclr_{{clr.id}}" disabled>Отм.</button></a>
    </td>
    <td class="col-1 text-end">
        <button type="submit" class="btn-sm btn-outline-primary" id="okclr_{{clr.id}}" disabled>OK</button>
    </td>
</tr>
</form>
{% endfor %}
</tbody>
</table>


{% endblock %}
