<div class="modal fade" id="deleteMaketModal" tabindex="-1" aria-labelledby="deleteMaketModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteMaketModalLabel">Вы удаляете макет</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="delete_maket" id="form_delete_maket" method="post">
     {% csrf_token %}
        <input type="hidden" name="object_to_delete" value="" id="object_to_delete" form="form_delete_maket">
      </form>
        <div class="row pe-3">
            <div class="col text-start" id="object_no"></div>
            <div class="col"> от </div>
            <div class="col text-start" id="object_date"></div>
        </div>
            <div class="row ps-3 fw-bolder" id="object_customer"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-danger" form="form_delete_maket">Все равно удалить</button>
      </div>
    </div>
  </div>
</div><!-- Modal delete Maket-->
