<!doctype html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'maket/style.css' %}">
    <title>Справочники</title>
</head>

{% include 'maket/main.html' %}

<body>
<div class="row p-2 m-2">

<div class="card p-1 m-1" style="width: 20rem;">
  <div class="card-header">
      <div class="d-flex justify-content-between">
        Цветовая группа
        <a href="javascript:add_ln('new_line');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    {% for clr_sch in color_scheme %}
    <li class="list-group-item" id="cst_id_{{clr_sch.id}}">
    <a href="javascript:upd_ln({{clr_sch.id}});" class="form-control">{{ clr_sch.scheme_name }}</a>
    </li>
    <li class="list-group-item" id="cst_id2_{{clr_sch.id}}" style="display:none">
        <form action="update_clr_sch/{{ clr_sch.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
            <input type="text" class="form-control" name="clr_sch" value="{{ clr_sch.scheme_name }}">
            <input type="hidden" class="form-control" name="clr_sch_id" value="{{ clr_sch.id }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{clr_sch.id}});"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_line" style="display:none">
        <form action="add_clr_sch" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="clr_sch" value="{{ clr_sch.scheme_name }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_line');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Color schemes><--->

<div class="card p-1 m-1" style="width: 20rem;">
  <div class="card-header">
      <div class="d-flex justify-content-between">
        Тип печати
        <a href="javascript:add_ln('new_ln');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    {% for prt_typ in print_type %}
    <li class="list-group-item" id="cst_id_{{prt_typ.id}}_pr">
    <a href="javascript:upd_ln({{prt_typ.id}}+'_pr');" class="form-control">{{ prt_typ.type_name }}</a>
    </li>
    <li class="list-group-item" id="cst_id2_{{prt_typ.id}}_pr" style="display:none">
        <form action="update_prt_typ/{{ prt_typ.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
            <input type="text" class="form-control" name="prt_typ" value="{{ prt_typ.type_name }}">
            <input type="hidden" class="form-control" name="prt_typ_id" value="{{ prt_typ.id }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{prt_typ.id}}+'_pr');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_ln" style="display:none">
        <form action="add_prt_typ" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="prt_typ" value="{{ prt_typ.type_name }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_ln');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Print types><--->

<div class="card p-1 m-1" style="width: 40rem;"><!-- Print places><--->
  <div class="card-header">
      <div class="d-flex justify-content-between">
      <div class="col"> Название детали</div>
      <div class="col"> Место печати </div>
        <a href="javascript:add_ln('new_ln3');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    {% for prt_plc in print_place %}
    <li class="list-group-item" id="cst_id_{{prt_plc.id}}_pl">
    <div class="d-flex justify-content-between" >
    <div class="col">
        <a href="javascript:upd_ln({{prt_plc.id}}+'_pl');" class="form-control">{{ prt_plc.detail_name }}</a></div>
    <div class="col">
        <a href="javascript:upd_ln({{prt_plc.id}}+'_pl');" class="form-control">{{ prt_plc.place_name }}</a></div>
    </div>
    </li>
    <li class="list-group-item" id="cst_id2_{{prt_plc.id}}_pl" style="display:none">
        <form action="update_prt_plc/{{ prt_plc.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
                <input type="text" class="form-control" name="prt_det" value="{{ prt_plc.detail_name }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="prt_plc" value="{{ prt_plc.place_name }}"></div>
            <input type="hidden" class="form-control" name="prt_plc_id" value="{{ prt_plc.id }}">
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{prt_plc.id}}+'_pl');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_ln3" style="display:none">
        <form action="add_prt_plc" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="prt_det" value="{{ prt_plc.detail_name }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="prt_plc" value="{{ prt_plc.place_name }}"></div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_ln3');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Print places><--->

<div class="card p-1 m-1" style="width: 40rem;"><!-- Print positions><--->
  <div class="card-header">
      <div class="d-flex justify-content-between">
      <div class="col"> Опция</div>
      <div class="col"> Ориентация </div>
        <a href="javascript:add_ln('new_ln4');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    {% for prt_pos in print_position %}
    <li class="list-group-item" id="cst_id_{{prt_pos.id}}_ps">
    <div class="d-flex justify-content-between" >
    <div class="col">
        <a href="javascript:upd_ln({{prt_pos.id}}+'_ps');" class="form-control">{{ prt_pos.position_option }}</a></div>
    <div class="col">
        <a href="javascript:upd_ln({{prt_pos.id}}+'_ps');" class="form-control">{{ prt_pos.position_orientation }}</a></div>
    </div>
    </li>
    <li class="list-group-item" id="cst_id2_{{prt_pos.id}}_ps" style="display:none">
        <form action="update_prt_pos/{{ prt_pos.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
                <input type="text" class="form-control" name="pos_opt" value="{{ prt_pos.position_option }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="pos_orn" value="{{ prt_pos.position_orientation }}"></div>
            <input type="hidden" class="form-control" name="prt_pos_id" value="{{ prt_pos.id }}">
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{prt_pos.id}}+'_ps');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_ln4" style="display:none">
        <form action="add_prt_pos" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="pos_opt" value="{{ prt_pos.position_option }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="pos_orn" value="{{ prt_pos.position_orientation }}"></div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_ln4');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Print positions><--->

<!-- Добавить карточки сочетаний Item_to_type, Item_to_position, Item_to_color если их потом использовать><--->

</div>


<script src="{% static 'maket/maket.js' %}"></script>

</body>