{% extends 'maket/main.html' %}
{% block title %}Справочники{% endblock %}
{% block content %}
<div class="d-flex justify-content-between">
      <div><h5>Цвета</h5></div>

<!-- Modal --> <form id="add_clr" action="{% url 'maket:add_clr' %}" method="post">
      {% csrf_token %}
        <div class="modal fade" id="addclrModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addclrModalLabel">Добавление Цвета</h5>
              </div>
              <div class="modal-body">
                 <!--  --->
              <div class="row p-1">
                  <div class="col-2">
                      <input type="text" class="form-control" name="clr_id" placeholder="Цвет"></div>
                  <div class="col-4">
                      <input type="text" class="form-control" name="clr_nm" placeholder="Название"></div>
                  <div class="col-3">
                        <input type="text" class="form-control" name="dt1_ptn" placeholder="Pantone"></div>
              </div>
              <div class="row p-1">
                    <div class="col">
                        <input type="text" class="form-control" name="dt1_hex" placeholder="#HEX"></div>
                    <div class="col">
                    <div class="input-group" >
                    <select class="form-select" id="ColorSelect_add" name="ColorSelect_add">
                    {% for clr_sch in color_scheme %}
                         <option value="{{ clr_sch.id}}" >{{ clr_sch.scheme_name}}</option>
                    {% endfor %}
                    </select>
                    </div>
                    </div>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    </div>
<table class="table table-sm table-hover">
<thead>
<tr class="table-primary">
    <th></th>
    <th class="text-center" onclick="javascript:colapse_('5');">ID</th>
    <th class="text-center" onclick="javascript:colapse_('5');">Название</th>
    <th class="text-center" onclick="javascript:colapse_('5');">Pantone С</th>
    <th class="text-center" onclick="javascript:colapse_('5');">#HEX</th>
    <th class="text-center" onclick="javascript:colapse_('5');">Цветовая группа</th>
    <th colspan="2" class="text-end">
<!-- Button trigger modal --><button type="button" class="btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addclrModal">
      Добавить</button>
    </th>
</tr>
</thead>
<tbody id="collapse_5" >
{% for clr in color %}
<form action="update_clr/{{ clr.id }}" method="post">
{% csrf_token %}
<tr >
    <td class="col-1"><a href="javascript:clr_edit({{clr.id}}, '{{clr.color_scheme.scheme_name}}');">
        <button type="button" class="btn-sm btn-outline-primary" id="red_{{clr.id}}">Ред.</button>
    </a> </td>
    <td class="col-1">
        <input class="form-control" value="{{clr.color_id}}" disabled id="clrid_{{clr.id}}" name="clrid"></td>
    <td class="col">
        <input class="form-control" value="{{clr.color_name}}"  id="clrnm_{{clr.id}}" disabled name="clr_nm"></td>
    <td class="col-2">
        <input class="form-control" value="{{clr.pantone}}" disabled id="clrpnt_{{clr.id}}" name="dt1_ptn"></td>
    <td class="col-2">
        <input class="form-control" value="{{clr.color_code}}" disabled  id="clrhex_{{clr.id}}" name="dt1_hex"></td>
    <td class="col-2">
        <div class="input-group" >
        <select class="form-select" id="ColorSelect2_{{clr.id}}" name="ColorSelect2" disabled>
            <option value="0" selected>{{ clr.color_scheme.scheme_name}}</option>
        </select>
        </div>
    </td>
    <td class="col-1 text-end">
        <a href="javascript:clr_edit_reverse({{clr.id}}, '{{ clr.color_scheme.scheme_name}}');">
        <button type="button" class="btn-sm btn-outline-danger" id="otmclr_{{clr.id}}" disabled>Отм.</button></a>
    </td>
    <td class="col-1 text-end">
        <button type="submit" class="btn-sm btn-outline-primary" id="okclr_{{clr.id}}" disabled>OK</button>
    </td>
</tr>
</form>
{% endfor %}
</tbody>
</table>




<theader class="row p-1 m-1">


<div class="col">

<div class="row">

<div class="card" style="width: 48rem;">
  <div class="card-header"><div class="row">
      <div class="d-flex justify-content-between">
          <h5 onclick="javascript:colapse('1');">Группа печати</h5>
        <a href="javascript:add_ln('new_ln2');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
      </div>
  </div>
  </div>
  <ul class="list-group list-group-flush" id="collapse_1" >
    <li class="list-group-item" id="new_ln2" style="display:none">
        <form action="add_pg" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col m-1" style="max-width:80px;">
                <input type="text" class="form-control" name="cd" value="{{ pg.code }}">
            </div>
            <div class="col m-1">
                <input type="text" class="form-control" name="pg" value="{{ pg.name }}">
            </div>
            <div class="col m-1">
                <input type="text" class="form-control" name="ly" value="{{ pg.layout }}">
            </div>
            <div class="col m-1">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_ln2');"><button type="button" class="btn btn-sm btn-outline-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn btn-sm btn-outline-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% for pg in print_group %}
    <li class="list-group-item" id="cst_id_{{pg.id}}_pg" onclick="javascript:upd_ln({{pg.id}}+'_pg');">
    <div class="d-flex justify-content-between" >
    <div class="col m-1" style="max-width:80px;"> {{ pg.code }}</div>
    <div class="col m-1">{{ pg.name }}</div>
    <div class="col m-1">{{ pg.layout }}</div>
    </div>
    </li>
    <li class="list-group-item" id="cst_id2_{{pg.id}}_pg" style="display:none;">
        <form action="update_pg/{{ pg.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col m-1" style="max-width:80px;">
            <input type="text" class="form-control" name="pg_cd" value="{{ pg.code }}">
            </div>
            <div class="col m-1">
            <input type="text" class="form-control" name="pg_nm" value="{{ pg.name }}">
            <input type="hidden" class="form-control" name="pg_id" value="{{ pg.id }}">
            </div>
            <div class="col m-1">
            <input type="text" class="form-control" name="pg_ly" value="{{ pg.layout }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{pg.id}}+'_pg');"><button type="button" class="btn btn-sm btn-outline-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn btn-sm btn-outline-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
  </ul>
</div><!-- Print groups><--->

<div class="card" style="width: 20rem;">
  <div class="card-header">
      <div class="d-flex justify-content-between" onclick="javascript:colapse('6');"><h5>Цветовая группа</h5> </div>
  <div class="text-end">
        <a href="javascript:add_ln('new_line');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
  </div>
  </div>
  <ul class="list-group list-group-flush" id="collapse_6" style="display:none;">
    {% for clr_sch in color_scheme %}
    <li class="list-group-item" id="cst_id_{{clr_sch.id}}" >
    <a href="javascript:upd_ln({{clr_sch.id}});" class="form-control">{{ clr_sch.scheme_name }}</a>
    </li>
    <li class="list-group-item" id="cst_id2_{{clr_sch.id}}" style="display:none">
        <form action="update_clr_sch/{{ clr_sch.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
            <input id="clr_sr_{{ clr_sch.id }}" type="text" class="form-control" name="clr_sch" value="{{ clr_sch.scheme_name }}">
            <input type="hidden" class="form-control" name="clr_sch_id" value="{{ clr_sch.id }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{clr_sch.id}});"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_line" style="display:none">
        <form action="add_clr_sch" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="clr_sch" value="{{ clr_sch.scheme_name }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_line');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Color schemes><--->

<div class="card" style="width: 12rem;">
  <div class="card-header">
      <div class="d-flex justify-content-between">
          <h5 onclick="javascript:colapse('2');">Тип печати </h5></div>
      <div class="text-end">
        <a href="javascript:add_ln('new_ln');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
    </div>
  </div>
  <ul class="list-group list-group-flush" id="collapse_2" style="display:none;">
    {% for prt_typ in print_type %}
    <li class="list-group-item" id="cst_id_{{prt_typ.id}}_pr">
    <a href="javascript:upd_ln({{prt_typ.id}}+'_pr');" class="form-control">{{ prt_typ.type_name }}</a>
    </li>
    <li class="list-group-item" id="cst_id2_{{prt_typ.id}}_pr" style="display:none">
        <form action="update_prt_typ/{{ prt_typ.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
            <input type="text" class="form-control" name="prt_typ" value="{{ prt_typ.type_name }}">
            <input type="hidden" class="form-control" name="prt_typ_id" value="{{ prt_typ.id }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{prt_typ.id}}+'_pr');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_ln" style="display:none">
        <form action="add_prt_typ" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="prt_typ" value="{{ prt_typ.type_name }}">
            </div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_ln');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Print types><--->

</div>

<div class="card" style="width: 25rem;"><!-- Print places><--->
  <div class="card-header">
      <div onclick="javascript:colapse('3');"><h5>Место печати</h5></div>
      <div class="d-flex justify-content-between">
      <div class="col" onclick="javascript:colapse('3');"> Название детали</div>
      <div class="col" onclick="javascript:colapse('3');"> Место печати </div>
        <a href="javascript:add_ln('new_ln3');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
    </div>
  </div>
  <ul class="list-group list-group-flush" id="collapse_3" style="display:none;">
    {% for prt_plc in print_place %}
    <li class="list-group-item" id="cst_id_{{prt_plc.id}}_pl">
    <div class="d-flex justify-content-between" >
    <div class="col">
        <a href="javascript:upd_ln({{prt_plc.id}}+'_pl');" class="form-control">{{ prt_plc.detail_name }}</a></div>
    <div class="col">
        <a href="javascript:upd_ln({{prt_plc.id}}+'_pl');" class="form-control">{{ prt_plc.place_name }}</a></div>
    </div>
    </li>
    <li class="list-group-item" id="cst_id2_{{prt_plc.id}}_pl" style="display:none">
        <form action="update_prt_plc/{{ prt_plc.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
                <input type="text" class="form-control" name="prt_det" value="{{ prt_plc.detail_name }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="prt_plc" value="{{ prt_plc.place_name }}"></div>
            <input type="hidden" class="form-control" name="prt_plc_id" value="{{ prt_plc.id }}">
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{prt_plc.id}}+'_pl');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_ln3" style="display:none">
        <form action="add_prt_plc" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="prt_det" value="{{ prt_plc.detail_name }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="prt_plc" value="{{ prt_plc.place_name }}"></div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_ln3');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Print places><--->

<div class="card" style="width: 25rem;"><!-- Print positions><--->
  <div class="card-header">
      <div onclick="javascript:colapse('4');"><h5>Позиция</h5></div>

      <div class="d-flex justify-content-between">
      <div class="col" onclick="javascript:colapse('4');"> Опция</div>
      <div class="col" onclick="javascript:colapse('4');"> Ориентация </div>
        <a href="javascript:add_ln('new_ln4');"><button type="button" class="btn-sm btn-primary">Добавить</button></a>
    </div>
  </div>
  <ul class="list-group list-group-flush" id="collapse_4" style="display:none;">
    {% for prt_pos in print_position %}
    <li class="list-group-item" id="cst_id_{{prt_pos.id}}_ps">
    <div class="d-flex justify-content-between" >
    <div class="col">
        <a href="javascript:upd_ln({{prt_pos.id}}+'_ps');" class="form-control">{{ prt_pos.position_option }}</a></div>
    <div class="col">
        <a href="javascript:upd_ln({{prt_pos.id}}+'_ps');" class="form-control">{{ prt_pos.position_orientation }}</a></div>
    </div>
    </li>
    <li class="list-group-item" id="cst_id2_{{prt_pos.id}}_ps" style="display:none">
        <form action="update_prt_pos/{{ prt_pos.id }}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between" >
            <div class="col">
                <input type="text" class="form-control" name="pos_opt" value="{{ prt_pos.position_option }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="pos_orn" value="{{ prt_pos.position_orientation }}"></div>
            <input type="hidden" class="form-control" name="prt_pos_id" value="{{ prt_pos.id }}">
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:upd_ln_reverse({{prt_pos.id}}+'_ps');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
    {% endfor %}
    <li class="list-group-item" id="new_ln4" style="display:none">
        <form action="add_prt_pos" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <div class="col">
                <input type="text" class="form-control" name="pos_opt" value="{{ prt_pos.position_option }}"></div>
            &nbsp
            <div class="col">
                <input type="text" class="form-control" name="pos_orn" value="{{ prt_pos.position_orientation }}"></div>
            <div class="col">
            <div class="d-flex justify-content-end">
            <a href="javascript:add_ln_reverse('new_ln4');"><button type="button" class="btn-sm btn-danger">Отменить</button></a>
            &nbsp
            <button type="submit" class="btn-sm btn-success" >Записать</button>
            </div>
            </div>
        </div>
        </form>
    </li>
  </ul>
</div><!-- Print positions><--->
</div>


</theader>

<!-- Добавить карточки сочетаний Item_to_type, Item_to_position, Item_to_color если их потом использовать><--->

</div>
{% endblock %}
