{% extends 'maket/main.html' %}
{% block title %}макеты{% endblock %}
{% block content %}

<table class="table table-sm table-hover table-borderless">
{% for film, item_group in f_group.items %}
    <thead class="table-primary">
    <tr>
     <th colspan="2">Пленка: {{film.film_id}} от {{film.date|date:'d.m.Y'}} формат {{film.format}} </th>
     <th colspan="2">{% if film.status %} выведена {% else %} в работе {% endif %}</th>
     <th >{{film.date_sent}}</th>
     <th class="text-end">Кол-во</th>
     <th class="text-wrap text-end">Сумма товар</th>
     <th class="text-wrap text-end">Сумма нанес.</th>
     <th class="text-wrap text-end">Сумма </th>

    </tr>
    <tr>
     <th class="fw-normal">Заказ</th>
     <th class="fw-normal">Клиент</th>
     <th class="fw-normal">Макет</th>
     <th class="fw-normal">Группа товара</th>
     <th class="fw-normal">Нанесение</th>
     <th class="fw-normal text-end">{{item_group.0.0}}</th>
     <th class="fw-normal text-end">{{item_group.0.1}}</th>
     <th class="fw-normal text-end">{{item_group.0.2}}</th>
     <th class="fw-normal text-end">{{item_group.0.3}}</th>


    </tr>
    </thead>
    {% for itm in item_group %}
    {% if  itm != item_group.0 %}
    <tbody>
    <tr>
      <td>{{itm.0.maket.order.order_id}}</td>
      <td>{{itm.0.maket.order.customer.name}}</td>
      <td>{{itm.0.maket.maket_id}}</td>
      <td>{{itm.0.item.item.print_group.name}}</td>
      <td>{{itm.0.print_name}}</td>
      <td class="text-end">{{itm.1}}</td>
      <td class="text-end">{{itm.2}}</td>
      <td class="text-end">{{itm.3}}</td>
      <td class="text-end">{{itm.4}}</td>
    </tr>

    </tbody>
    {% endif %}
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
