{% extends 'maket/main.html' %}
{% block title %}макеты{% endblock %}
{% block content %}

<table class="table table-sm table-hover table-borderless">
{% for film, item_group in f_group.items %}
    <thead class="table-primary">
    <tr>
     <th colspan="2">Пленка: {{film.film_id}} от {{film.date|date:'d.m.Y'}} формат {{film.format}} </th>
     <th colspan="2">{% if film.status %} выведена {% else %} в работе {% endif %}</th>
     <th >{{film.date_sent}}</th>
     <th>нанесений {{item_group.0.4}}</th>
     <th class="text-end fw-normal" style="font-size:100%">К-во</th>
     <th class="text-wrap text-end fw-normal" style="font-size:100%">Tовар</th>
     <th class="text-wrap text-end fw-normal" style="font-size:100%">Нанес.</th>
     <th class="text-wrap text-end fw-normal" style="font-size:100%">Сумма </th>

    </tr>
    <tr style="font-size:100%">
     <th class="fw-normal">Заказ</th>
     <th class="fw-normal">Клиент</th>
     <th class="fw-normal">Макет</th>
     <th class="fw-normal">Группа товара</th>
     <th class="fw-normal">Нанесение</th>
     <th class="fw-normal">Данные по нанесению</th>
     <th class="fw-normal text-end">{{item_group.0.0}}</th>
     <th class="fw-normal text-end">{{item_group.0.1}}</th>
     <th class="fw-normal text-end">{{item_group.0.2}}</th>
     <th class="fw-normal text-end">{{item_group.0.3}}</th>
    </tr>
    </thead>
    {% for itm in item_group %}
    {% if  itm != item_group.0 %}
    <tbody>
    <tr style="font-size:90%">
      <td ondblclick="window.open('/maket/vieworder/{{itm.0.maket.order.id}}',
                     'newwindow',
                     'width=900,height=400');
                      return false;">{{itm.0.maket.order.order_id}}</td>
      <td ondblclick="window.open('/maket/vieworder/{{itm.0.maket.order.id}}',
                     'newwindow',
                     'width=900,height=400');
                      return false;">{{itm.0.maket.order.customer.name}}</td>
      <td ondblclick="window.open('/maket/maket_print/{{itm.0.maket.order.id}}/{{itm.0.maket.maket_id}}', '_blank');  return false;">
          {{itm.0.maket.maket_id}}
      </td>
      <td style="min-width:160px;"
          ondblclick="window.open('/maket/maket_print/{{itm.0.maket.order.id}}/{{itm.0.maket.maket_id}}', '_blank');  return false;">
          {{itm.0.item.item.print_group.name}}
      </td>
      <td ondblclick="window.open('/maket/maket_print/{{itm.0.maket.order.id}}/{{itm.0.maket.maket_id}}', '_blank');  return false;">
          {{itm.0.print_name}}
      </td>
      <td style="max-width:300px;">{{itm.5}}</td>
      <td class="text-end">{{itm.1}}</td>
      <td class="text-end">{{itm.2}}</td>
      <td class="text-end">{{itm.3}}</td>
      <td class="text-end">{{itm.4}}</td>
    </tr>

    </tbody>
    {% endif %}
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
