{% extends 'maket/main.html' %}
{% block title %}Номенклатура{% endblock %}
{% block content %}
<h5>Номенклатура</h5>
<table class="table table-sm table-hover">
<thead>
    <tr  class="table-primary">
    <th><h6>Арт</h6></th>
    <th><h6>Название</h6></th>
    <th><h6>Цветовая группа</h6></th>
    <th><h6>Группа печати</h6></th>
    <th><h6>Регион</h6></th>
    <th colspan="10"><h6>Детали</h6></th>
    </tr>
</thead>
<tbody>
{% for good in goods %}
    <form action="update_good/{{good.id}}" method="post" id="form_{{good.id}}">
    {% csrf_token %}
    <tr onclick="javascript:upd_good({{good.id}});" id="row_{{good.id}}">
    <input type="text" hidden value="{{good.id}}" id="id_{{good.id}}">

    <td id="art_{{good.id}}"><div >{{ good.item_name}}</div></td>
    <td id="nm_{{good.id}}">{{good.name}}</td>
    <td id="cs_{{good.id}}">{{good.color_scheme.scheme_name}}</td>
    <td id="pg_{{good.id}}" >{{good.print_name.codepyt}}</td>
    <td id="addr_{{cst.id}}">{{cst.address}}</td>
    </tr>
    </form>
{% endfor %}
</tbody>
</table>

{% endblock %}
