{% extends 'maket/main.html' %}
{% block title %}Клиенты{% endblock %}
{% block content %}
<h5>Клиенты</h5>
<table class="table table-sm table-hover">
<thead>
    <tr  class="table-primary">
    <th><h6>Название</h6></th>
    <th><h6>Группа</h6></th>
    <th><h6>Тип</h6></th>
    <th><h6>Регион</h6></th>
    <th><h6>ИНН</h6></th>
    <th ><h6>Адрес</h6></th>
    </tr>
</thead>
<tbody>
{% for cst in customers %}
    <form action="update_cst/{{cst.id}}" method="post" id="form_{{cst.id}}">
    {% csrf_token %}
    <tr onclick="javascript:upd_cst({{cst.id}});" id="row_{{cst.id}}">
    <input type="text" hidden value="{{cst.id}}" id="id_{{cst.id}}">
    <td id="nm_{{cst.id}}"><div >{{cst.name}}</div></td>
    <td id="gr_{{cst.id}}">{{cst.group}}</td>
    <td id="tp_{{cst.id}}">{{cst.type}}</td>
    <td id="rg_{{cst.id}}">{{cst.region}}</td>
    <td id="in_{{cst.id}}" >{{cst.inn}}</td>
    <td id="addr_{{cst.id}}">{{cst.address}}</td>
    </tr>
    </form>
{% endfor %}
</tbody>
</table>

{% endblock %}
