{% extends 'maket/main.html' %}
{% block title %}Макеты{% endblock %}
{% block content %}
{% include 'maket/reload.html' %}
{% if look_up != True %}
<div class="row fixed-bottom bg-light p-1 mb-0 pb-0 align-items-center" >
<br><br>
    <div class="col-9 text-start">
<div class="pagination" xmlns="http://www.w3.org/1999/html">
    <span class="step-links dropup">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-sm btn-outline-primary">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-primary">предыдущая</a>
        {% endif %}
        <span class="current btn btn-sm btn-outline-secondary">
           {{ page_obj.object_list.21.0|date:"d.m.y" }} - {{ page_obj.object_list.0.0|date:"d.m.y" }} (страница {{ page_obj.number }}  из {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-primary">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-primary">последняя &raquo;</a>
        {% endif %}
        &nbsp
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="_ChooseClient"
                    data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Выбрать даты
            </button>
              <ul class="dropdown-menu fw-bold" aria-labelledby="ChooseClient">
                {% for dt_range in date_range %}
              <li><a class="dropdown-item" href="?page={{ dt_range.0 }}"> {{ dt_range.1 }}</a></li>
                {% endfor %}
              </ul>

    </span>
</div><!-- pagination -->
    </div>
    <div class="col text-end">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-wind"></i> Импортироавть заказ из Фрегата
        </button><!-- Button trigger modal -->
    </div>
</div>
{% endif %}

<!-- Modal delete Order-->
<div class="modal fade" id="deleteOrderModal" tabindex="-1" aria-labelledby="deleteOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteOrderModalLabel">Вы удаляете заказ и все связанные макеты</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="{% url 'maket:delete_order' %}" method="post" id="form_delete_order">
      {% csrf_token %}
        <input type="hidden" name="object_to_delete" value="" id="object_to_delete">
      </form>
        <div class="row">
            <div class="col" id="object_no"></div>
            <div class="col" id="object_date"></div>
        </div>
            <div class="row p-3" id="object_customer"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-danger" form="form_delete_order">Все равно удалить</button>
      </div>
    </div>
  </div>
</div><!-- Modal delete Order-->


<!-- Modal upload_order -->
<div class="modal fade" id="uploadOrder" tabindex="-1" aria-labelledby="uploadOrderLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadOrderLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="upload_order" method="post" id="upload_order_" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-body m-1">
         <!-- Выбор файла --->
         <label class="custom-file-label" for="ChoseOrder"></label>
         <input type="file" accept=".pdf" class="custom-file-input form-control col-auto border"
                id="ChoseOrder" name="ChoseOrder" form="upload_order_">
          <input type="number" name="upload_id" id="upload_id" form="upload_order_" hidden>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" name="submit" class="btn btn-primary" form="upload_order_">Загрузить</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Upload order -->


<!-- Modal import_order -->
<form id="import_order" action="{% url 'maket:import_order' %}" method="post" enctype="multipart/form-data"
      onsubmit="javascript:block_button();">
{% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выберите файл</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <!-- Выбор файла --->
         <label class="custom-file-label" for="ChoseCSV"></label>
         <input type="file" accept=".html" class="custom-file-input col-auto border" id="ChoseCSV" name="Chosen">
<!--         <input type="submit" name="submit" value="Upload" /><--->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" name="submit" class="btn btn-primary" id="but_imp_modal" >Загрузить</button>
      </div>
    </div>
  </div>
</div>
</form><!-- Modal Import order -->

<div>
<table class="table table-info table-hover" style="font-size:90%;">
    <tbody >
    {% for ord in orders %}
    <tr ondblclick="window.location.href='/maket/order/{{ord.id}}_{{lookup}}'" class="align-middle
           {%  if ord.maket_status == 'R' %} text-success{% elif ord.maket_status == 'N' %} text-danger {% endif %}">
        <td class="{% if ord.to_check %}text-danger{% else %}text-success{% endif %}"
            style="font-size: 140%;" onclick="window.open ('/maket/order_edit/{{ord.id}}', '_blank');">
            {% if ord.to_check %}<i class="bi bi-exclamation-square"></i></i>{% else %}
            <i class="bi bi-check-square"></i>{% endif %}</td>
        <td class="fw-bold" >{{ord.maket_status}}</td>
        <td >
            <button type="button" class="btn btn-sm btn-outline-primary text-nowrap" style="font-size:80%"
                    onclick="javascript:upload_order({{ord.id}});" data-bs-toggle="modal" data-bs-target="#uploadOrder">
                <i class="bi bi-upload"></i> на сервер
            </button>
        </form>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-outline-secondary  text-nowrap" id="but_upl_{{ord.id}}"
                    onclick="window.open('/maket/download_order/{{ord.id}}', '_blank');"
                    style="font-size:80%" {% if not ord.order_upload %}disabled{% endif %}>
                <i class="bi bi-download"></i> открыть
            </button>
        </td>
        <td id="ord_id_{{ord.id}}">{{ord.order_id}}</td>
        <td id="order_date_{{ord.id}}">{{ord.order_date|date:'d.m.Y'}}</td>
{% if 'Сувенир' in ord.supplier %}
        <td> ВВС </td>
{% elif 'Студия' in ord.supplier %}
        <td> ССП </td>
{% else %}
        <td> ВВ </td>
{% endif %}
        <td class="text-wrap" style="max-width:440px" id="cust_nm_{{ord.id}}"> {{ord.customer.name}}</td>
        <td> {{ord.manager.manager}}</td>
        <td class="text-break"> {{ord.manager.manager_mail}}</td>
        <td class="text-end"> {{ord.order_sum}}</td>
        <td class="align-middle">
            <button type="button"  class="btn btn-sm btn-outline-danger text-nowrap" data-bs-toggle="modal"
                    data-bs-target="#deleteOrderModal" onclick="javascript:delete_object_modal({{ord.id}});"
                    style="font-size:80%;">
                <i class="bi bi-x-lg"></i> Удалить Заказ</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div><!-- Table of orders -->
<div>
</div>
<br><br>
{% endblock %}