{% extends 'maket/main.html' %}
{% block title %}Макеты{% endblock %}
{% block content %}
{% include 'maket/reload.html' %}
{% if look_up != True %}
<div class="row fixed-bottom bg-light p-1 mb-0 pb-0 align-items-center" >
<br><br>
    <div class="col-9 text-start">
<div class="pagination" xmlns="http://www.w3.org/1999/html">
    <span class="step-links dropup">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-sm btn-outline-primary">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-primary">предыдущая</a>
        {% endif %}
        <span class="current btn btn-sm btn-outline-secondary">
           {{ page_obj.object_list.21.0|date:"d.m.y" }} - {{ page_obj.object_list.0.0|date:"d.m.y" }} (страница {{ page_obj.number }}  из {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-primary">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-primary">последняя &raquo;</a>
        {% endif %}
        &nbsp
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="_ChooseClient"
                    data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Выбрать даты
            </button>
              <ul class="dropdown-menu fw-bold" aria-labelledby="ChooseClient">
                {% for dt_range in date_range %}
              <li><a class="dropdown-item" href="?page={{ dt_range.0 }}"> {{ dt_range.1 }}</a></li>
                {% endfor %}
              </ul>

    </span>
</div><!-- pagination -->
    </div>
    <div class="col text-end">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-wind"></i> Скачать заказ из Фрегата
        </button><!-- Button trigger modal -->
    </div>
</div>
{% endif %}

<!-- Modal upload_order -->
<div class="modal fade" id="uploadOrder" tabindex="-1" aria-labelledby="uploadOrderLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadOrderLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="upload_order" method="post" id="upload_order_" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-body m-1">
         <!-- Выбор файла --->
         <label class="custom-file-label" for="ChoseOrder"></label>
         <input type="file" accept=".pdf" class="custom-file-input form-control col-auto border"
                id="ChoseOrder" name="ChoseOrder" form="upload_order_">
          <input type="number" name="upload_id" id="upload_id" form="upload_order_" hidden>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" name="submit" class="btn btn-primary" form="upload_order_">Загрузить</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Upload order -->


<!-- Modal import_order -->
<form id="import_order" action="{% url 'maket:import_order' %}" method="post" enctype="multipart/form-data"
      onsubmit="javascript:block_button();">
{% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выберите файл</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <!-- Выбор файла --->
         <label class="custom-file-label" for="ChoseCSV"></label>
         <input type="file" accept=".html" class="custom-file-input col-auto border" id="ChoseCSV" name="Chosen">
<!--         <input type="submit" name="submit" value="Upload" /><--->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" name="submit" class="btn btn-primary" id="but_imp_modal" >Загрузить</button>
      </div>
    </div>
  </div>
</div>
</form><!-- Modal Import order -->

<div>
<table class="table table-info table-hover" style="font-size:90%;">
    <tbody >
    {% for ord in orders %}
    <tr ondblclick="window.location.href='/maket/order/{{ord.id}}_{{lookup}}'" class="align-middle
           {%  if ord.maket_status == 'R' %} text-success{% elif ord.maket_status == 'N' %} text-danger {% endif %}">
        <td class="fw-bold text-danger">{% if ord.to_check %}!{% endif %}</td>
        <td class="fw-bold" >{{ord.maket_status}}</td>
        <td >
            <button type="button" class="btn btn-sm btn-outline-primary text-nowrap" style="font-size:80%"
                    onclick="javascript:upload_order({{ord.id}});" data-bs-toggle="modal" data-bs-target="#uploadOrder">
                <i class="bi bi-upload"></i> на сервер
            </button>
        </form>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-outline-secondary  text-nowrap" id="but_upl_{{ord.id}}"
                    onclick="window.open('/maket/download_order/{{ord.id}}', '_blank');"
                    style="font-size:80%" {% if not ord.order_upload %}disabled{% endif %}>
                <i class="bi bi-download"></i> открыть
            </button>
        </td>
        <td id="ord_id_{{ord.id}}">{{ord.order_id}}</td>
        <td>{{ord.order_date|date:'d.m.Y'}}</td>
{% if 'Сувенир' in ord.supplier %}
        <td> ВВС </td>
{% elif 'Студия' in ord.supplier %}
        <td> ССП </td>
{% else %}
        <td> ВВ </td>
{% endif %}
        <td class="text-wrap" style="max-width:440px" id="cust_nm_{{ord.id}}"> {{ord.customer.name}}</td>
        <td> {{ord.manager.manager}}</td>
        <td class="text-break"> {{ord.manager.manager_mail}}</td>
        <td class="text-end"> {{ord.order_sum}}</td>
        <td class="align-middle"><a href="/maket/delete_order/{{ord.id}}">
            <button type="submit" class="btn btn-sm btn-outline-danger" style="font-size:80%;">Удалить</button>
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div><!-- Table of orders -->
<div>
</div>
<br><br>
{% endblock %}