<!doctype html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'maket/style.css' %}">
    <title>Заказы</title>
</head>

{% include 'maket/main.html' %}

<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Загрузить заказ
</button>

<!-- Modal -->
<form id="import_order" action="{% url 'maket:import_order' %}" method="post">
{% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выберите файл</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <!-- Выбор файла --->
         <label class="custom-file-label" for="ChoseCSV"></label>
         <input type="file" accept=".csv" class="custom-file-input col-auto border" id="ChoseCSV" name="Chosen">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</form>
<br>

{% include 'maket/reload.html' %}

<!--
<div class="border border-3 border-primary">
<div class="row">
    <div class="col m-2 fw-bold">ЗАКАЗ {{ord_imp.order_id}}  от {{ord_imp.order_date|date:'d.m.Y'}}</div>
    <div class="col m-2 d-md-flex justify-content-md-end"><button class="btn btn-outline-primary" type="button" >Button</button></div>
</div>
<table class="table-sm">
    <tbody>
        <tr>
            <td class="fw-bold">Поставщик </td>
            <td>{{ord_imp.supplier}}</td>
        </tr>
        <tr>
            <td class="fw-bold">Покупатель </td>
            <td>{{ord_imp.customer_name}}</td>
            <td>{{ord_imp.customer_INN}}</td>
            <td>{{ord_imp.customer_address}}</td>
        </tr>
    </tbody>



</table>
<div class="border border-4">
<table class="table-sm">
    <thead>
    <tr class="text-center">
        <th> # </th>
        <th> Артикул </th>
        <th> Наименование </th>
        <th> Нанесение </th>
        <th class="px-3"> Кол-во </th>
        <th> Место </th>
        <th> Тип </th>
        <th> Цветов </th>
        <th> 2-й проход </th>
        <th> Положение </th>

    </tr>
    {% for item in item_import %}
    </thead>
    <tbody>
    <tr>
        <td> {{item.print_id}} </td>
        <td class="px-3"> {{item.code}} </td>
        <td class="px-3" > {{item.name}}</td>
        <td class="px-3"> {{item.print_name}}</td>
        <td class="text-end"> {{item.quantity}}</td>
    {% for prt in print_import %}
    {% if prt.print_id == item.print_id %}
    <tr>
        <td colspan="5"></td>
        <td class="px-3"> {{prt.place}} </td>
        <td class="px-3"> {{prt.type}}</td>
        <td class="text-center"> {{prt.colors}}</td>
        <td class="text-center"> {{prt.second_pass}} </td>
        <td class="text-center"> {{prt.position}} </td>

    </tr>
    {% else %}
    {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table> <--->


</div>
</div>
<br>

<h5>Список Заказов</h5>
<div class="overflow-auto" style="max-height: 600px">
<table class="table table-info table-hover">
    <tbody >
    {% for ord in orders %}
    <tr onclick="window.location.href='{{ord.id}}'">
<!--        <form action="reload" method="post">
        {% csrf_token %} <--->
        <td><button type="button" class="btn btn-outline-primary">Ред.</button></td>
        <input type="hidden" value="{{ord.id}}" id="{{ord.id}}_" name="ord_id">
<!--        </form><--->

        <td>{{ord.order_id}}</td>
        <td>{{ord.order_date|date:'d.m.Y'}}</td>
        <td> {{ord.supplier}}</td>
        <td> {{ord.customer_name}}</td>
        <td> {{ord.customer_INN}}</td>
        <td> {{ord.film.film_id}}</td>
        <td> {{ord.film.date}}</td>
        {% if ord_imp.film_status %}
            <td><input class="form-check-input" type="checkbox" checked disabled></td>
        {% else %}
            <td><input class="form-check-input" type="checkbox" checked disabled></td>
        {% endif %}
        <td><a href="delete_order/{{ ord.id }}">
            <button type="submit" class="btn btn-outline-danger">Удалить</button>
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>







<div>
</div>

<script src="{% static 'maket/maket.js' %}"></script>
<script src="{% static 'maket/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</body>
</html>