{% extends 'maket/main.html' %}
{% block title %}макеты{% endblock %}
{% block content %}

<div hidden id="film_select">
<select class="form-select" aria-label="film_select">
  <option selected>выбрать пленку</option>
  {% for film in films %}
  <option value="{{film.id}}">{{film.film_id}} от {{film.date}}</option>
  {% endfor %}
  <option value="0">новая пленка</option>
</select>
</div>

<!-- Modal -->
<div class="modal fade" id="selectFilm" tabindex="-1" aria-labelledby="selectFilmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выбрать пленку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="modal_pg_1"></div>
        <div id="modal_pg_2"></div>
        <div>
        <select class="form-select" aria-label="film_select">
          {% for film in films %}
          <option value="{{film.id}}">{{film.film_id}} от {{film.date}}</option>
          {% endfor %}
          <option value="0">новая пленка</option>
        </select>
         </div>
        <input type="number" id="modal_pg_id" value="" name="modal_pg_id" hidden>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>


<table class="table table-hover lh-1">
<thead>

</thead>
<tbody>
{% for ord, maket in f_maket.items %}
    <tr class="{% if ord.maket_status != 'R' %} text-danger {% endif %}">
        <td ><a href="javascript:colapse_({{ord.id}});"><i class="bi bi-plus-square"></i></a></td>
        <td class="fw-bold" style="max-width:110px; font-size:80%;">
            <select class="form-select form-select-sm {% if ord.maket_status != 'R' %}
                    text-danger {% endif %}" style="font-size:100%;"
                    id="status_{{ord.id}}" onchange="location = this.options[this.selectedIndex].value;">
                <option value="{% url 'maket:maket_status' id=ord.id status='N' source='maket' %}"
                {% if ord.maket_status == 'N' %} selected {% endif %}><button class="btn btn-sm btn-outline-danger"> не готово </button></option>
                <option value="{% url 'maket:maket_status' id=ord.id status='P' source='maket' %}"
                {% if ord.maket_status == 'P' %} selected {% endif %}> частично </option>
                <option value="{% url 'maket:maket_status' id=ord.id status='R' source='maket' %}"
                {% if ord.maket_status == 'R' %} selected {% endif %}><div class="text-success"> готово&nbsp;&nbsp; </div></option>
            </select>
        </td>
        <td>{{ord.order_id}}</td>
        <td>{{ord.order_date|date:'d.m.Y'}}</td>
        <td>{% if 'Сувенир' in ord.supplier %}ВВС{% elif 'Студия' in ord.supplier %}ССП{% else %}ВВ{% endif %}</td>
        <td class="text-wrap" style="max-width:400px"> {{ord.customer_name}}</td>
        <td> {{ord.manager.manager}}</td>
        <td class="text-break"> {{ord.manager.manager_mail}}</td>
        <td class="text-end"> {{ord.order_sum}}</td>
    </tr>
    <tr style="font-size:90%;">
        <td colspan="10" class="p-0 lh-0 m-0">
            <table class="table table-hover table-info lh-1 mb-0" >
            <tbody id="collapse_{{ord.id}}" style="display:none">
                {% for mkt, itemgr in maket.items %}
                <tr class="align-middle" ondblclick="window.open('/maket/maket_print/{{ord.id}}/{{mkt.maket_id}}', '_blank');">
                <td></td>
                <td><a href="javascript:colapse_({{mkt.id}});"><i class="bi bi-plus-square"></i></a></td>
                <td># {{mkt.maket_id}}</td>
                <td style="max-width:120px;">создан {{mkt.date_create|date:'d.m.Y'}}</td>
                <td style="max-width:120px;">изменен {{mkt.date_modified|date:'d.m.Y'}}</td>
                <td style="max-width:120px;">файл загружен {% if mkt.uploaded %}ДА{% else %}НЕТ{% endif %}</td>
                <td>файл {{mkt.maket_file}}</td>
                <td style="min-width:400px;">комментарий {{mkt.comment}}</td>
                <td class="text-end">
                    <button type="button" class="btn btn-sm btn-outline-primary">загрузить</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">открыть</button>
                </td>
                </tr>
    <tr style="font-size:100%;">
        <td colspan="10" class="p-0 lh-0 m-0">
            <table class="table table-hover table-light lh-1 text-start mb-0">
            <tbody id="collapse_{{mkt.id}}" style="display:none">

            {% for itm in itemgr %}
                <tr class="align-middle {% if not itm.film.status %} text-danger{% endif %}">
                <td><input type="text" id="pg_{{itm.0.id}}_1"
                           value="группа {{itm.0.item.item.print_group.name}}" hidden></td>
                <td><input type="text" id="pg_{{itm.0.id}}_2"
                           value="нанесение {{itm.0.print_name}}" hidden></td>
                <td> группа {{itm.0.item.item.print_group.name}}</td>
                <td> нанесение {{itm.0.print_name}}</td>
                <td> пленка:
                    {% if itm.0.film.id == None %} нет {% else %}{{itm.0.film.film_id}} от  {{itm.0.film.date}}{% endif %}
                </td>
                <td>{% if itm.0.film.id != None %}{% if itm.0.film_error %}без ошибок {% else %}ошибки{% endif %}{% endif %} </td>
                <td>{% if itm.0.film.id != None %}{% if itm.0.film.status %}выведена {% else %}подготовка{% endif %}{% endif %} </td>
                <td>количество {{itm.1}}</td>
                <td>сумма {{itm.2}}</td>
                <td>сумма нанесение {{itm.3}}</td>
                <td class="text-end"><button type="button" class="btn btn-sm btn-outline-primary"
                                             data-bs-toggle="modal" data-bs-target="#selectFilm"
                                             onclick="javascript:select_film({{itm.0.id}});">
                    на пленку</button> </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </td>
    </tr>
    {% endfor %}
            </tbody>
            </table>
        </td>
    </tr>

{% endfor %}
</tbody>
</table>

{% endblock %}
