{% extends 'maket/main.html' %}
{% block title %}макеты{% endblock %}
{% block content %}
<!-- Modal delete Maket-->
{% include 'maket/deleteMaketModal.html' %}
<div class="row fixed-bottom bg-light p-2" >
{% if look_up != True %}
    <div class="col text-start">
<div class="pagination" xmlns="http://www.w3.org/1999/html">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-sm btn-outline-primary">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-primary">предыдущая</a>
        {% endif %}
        <span class="current btn btn-sm btn-outline-secondary">
           {{ page_obj.object_list.11.0.order_date|date:"d.m.y" }} - {{ page_obj.object_list.0.0.order_date|date:"d.m.y" }} (страница {{ page_obj.number }}  из {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-primary">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-primary">последняя &raquo;</a>
        {% endif %}
        &nbsp
    </span>
</div><!-- pagination -->
    </div>
{% endif %}
</div>
<!-- Modal select film-->
<div class="modal fade" id="selectFilm" tabindex="-1" aria-labelledby="selectFilmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выбрать пленку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="modal_pg_1"></div>
        <div id="modal_pg_2"></div>
        <div>
        <select class="form-select" aria-label="film_select" id="select_film">
          {% for film in films %}
          <option value="{{film.id}}|{{film.film_id}}|{{film.date|date:'d.m.Y'}}">{{film.film_id}} от {{film.date|date:'d.m.Y'}}</option>
          {% endfor %}
          <option value="0">новая пленка</option>
        </select>
         </div>
        <input type="number" id="modal_pg_id" value="" name="modal_pg_id" hidden>
        <input type="text" id="current_date" value="{{current_date|date:'d.m.Y'}}" hidden>
        <input type="number" id="last_film" value="{{last_film}}" hidden>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"
                onclick="save_to_film(this);" id="modal_save">Сохранить</button>
      </div>
    </div>
  </div>
</div><!-- Modal select film -->

<!-- Modal upload_maket -->
<div class="modal fade" id="uploadMaket" tabindex="-1" aria-labelledby="uploadMaketLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title"><div id="uploadMaketLabel"></div>
              <div id="uploadMaketLabel2"></div></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/maket/upload_maket/{{look_up}}" method="post" id="upload_maket_" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-body m-1">
         <!-- Выбор файла --->
         <label class="custom-file-label" for="ChoseMaket"></label>
         <input type="file" accept=".pdf" class="custom-file-input form-control col-auto border"
                id="ChoseMaket" name="ChoseMaket" form="upload_maket_">
          <input type="number" name="upload_id" id="upload_id" form="upload_maket_" hidden>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" name="submit" class="btn btn-primary" form="upload_maket_" >Загрузить</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Upload maket -->

<table class="table table-sm table-hover lh-1">
<thead class="sticky-top">
<tr class="table-secondary text-white mt-2" style="font-size: 100%;">
    <th colspan="13" style="height: 16mm;"></th>
</tr>
<tr class="align-middle table-secondary mt-2 pt-2 pb-2" style="font-size: 100%;">
    <th class="">файлы</th>
    <th class="">статус</th>
    <th class="">номер заказа</th>
    <th class="">дата заказа</th>
    <th class=""></th>
    <th class="">Клиент</th>
    <th class="" style="width:20px;"></th>
    <th class="" style="width:20px;">#</th>
    <th class="" style="width:80px;">создан</th>
    <th class="" style="width:80px;">изменен</th>
    <th class="" colspan="">файл</th>
    <th class="text-end m-1" colspan="2">
       <button type="button" class="btn btn-sm btn-primary text-nowrap" onclick="total_collapse();">
            <i class="bi bi-plus-lg"></i> Скрыть/показать состав
        </button>
    </th>
</tr>
</thead>
<tbody>
{% for ord, maket in f_maket.items %}
    <tr class="{% if ord.maket_status != 'R' %} text-danger {% endif %} align-middle justify-content-around"
        style="">
        <td >
            <button type="button" class="btn btn-sm btn-outline-secondary"
                    onclick="window.open('/addfiles/{{ord.id}}', '_blank');">
                <i class="bi bi-folder2-open"></i>&nbsp;<span class="badge text-secondary">
                {{ord.number_orders}} / {{ord.number_makets}} / {{ord.number_additional}}</span>&nbsp;
            </button>
        </td>
        <td class="fw-bold" style="max-width:110px; font-size:100%;">
            <select class="form-select form-select-sm {% if ord.maket_status != 'R' %}
                    text-danger {% endif %}" style="font-size:100%;"
                    id="status_{{ord.id}}" onchange="location = this.options[this.selectedIndex].value;">
                <option value="{% url 'maket:maket_status' id=ord.id status='N' source='maket' %}"
                {% if ord.maket_status == 'N' %} selected {% endif %}><button class="btn btn-sm btn-outline-danger"> не готово </button></option>
                <option value="{% url 'maket:maket_status' id=ord.id status='P' source='maket' %}"
                {% if ord.maket_status == 'P' %} selected {% endif %}> частично </option>
                <option value="{% url 'maket:maket_status' id=ord.id status='R' source='maket' %}"
                {% if ord.maket_status == 'R' %} selected {% endif %}><div class="text-success"> готово&nbsp;&nbsp; </div></option>
            </select>
        </td>
        <td >{{ord.order_id}}</td>
        <td>{{ord.order_date|date:'d.m.Y'}}</td>
        <td>{% if 'Сувенир' in ord.supplier %}ВВС{% elif 'Студия' in ord.supplier %}ССП{% else %}ВВ{% endif %}</td>
        <td class="text-wrap" style="width:360px"> {{ord.customer.name}}</td>
        <td colspan="7">
            <table class="m-1" style="font-size: 90%;">
                {% for mkt, itemgr in maket.items %}
                <tr class="" ondblclick="window.open('/maket_layout/{{ord.id}}/{{mkt.maket_id}}', '_blank');">
                <td ><a href="javascript:colapse_('mkt_{{mkt.id}}');" style="width:20px;">
                    <i class="bi bi-plus-lg"></i></a>
                </td>
                <td style="width:20px;" id="mk_id_{{mkt.id}}">{{mkt.maket_id}}</td>
                <td style="width:80px;">{{mkt.date_create|date:'d.m.Y'}}</td>
                <td style="width:80px;">{{mkt.date_modified|date:'d.m.Y'}}</td>
                <td style="width:440px;" class="text-break">
                    {% if mkt.uploaded %}<a href="/maket/download_maket/{{mkt.id}}" target="_blank">
                    {{mkt.maket_file}}</a>
                    {% else %}файл не загружен{% endif %}</td>
                <td>{{mkt.comment}}</td>
                <td class="align-items-end">
                    <input type="text" hidden id="ord_id_{{mkt.id}}" value="{{mkt.order.order_id}}">
                    <div hidden id="order_date_{{mkt.id}}">{{mkt.order.order_date|date:'d.m.Y'}}</div>
                    <input type="text" hidden id="cust_nm_{{mkt.id}}" value="{{mkt.order.customer.name}}">
                    <button type="button"  class="btn btn-sm btn-outline-danger text-nowrap ms-1 mb-1 mt-1" data-bs-toggle="modal"
                        data-bs-target="#deleteMaketModal" onclick="javascript:delete_object_modal({{mkt.id}});">
                        <i class="bi bi-x-lg"></i> уд. макет
                     </button>
                </td><td>
                    <button type="button" class="btn btn-sm btn-outline-primary m-1 text-nowrap"
                            onclick="javascript:upload_maket({{mkt.id}});" data-bs-toggle="modal"
                            data-bs-target="#uploadMaket">
                         <i class="bi bi-upload"></i> загр. файл
                    </button>
                </td>
                </tr>
    <tr style="font-size:100%;">
        <td colspan="8" class="p-0 lh-0 m-0 ">
            <table class="table table-hover table-sm lh-0 text-start mb-0 "  id="collapse_mkt_{{mkt.id}}" style="display:none">
            <thead>
            <tr class="table-secondary text-center">
                <th style="width: 120px;">пленка&nbsp;<i class="bi bi-arrow-right"></i></th>
                <th style="width: 150px;">группа</th>
                <th style="width: 300px;">нанесение</th>
                <th style="width: 20px;">#</th>
                <th style="width: 80px;">дата</th>
                <th style="width: 60px;">кол-во</th>
                <th style="width: 60px;">сумма</th>
                <th style="width: 60px;" class="text-wrap" a>сумма нанес</th>
            </tr>
            </thead>
            <tbody>

            {% for itm in itemgr %}
                <tr class="table-secondary {% if not itm.0.film.status %} text-danger{% endif %} " >
                <input type="text" id="pg_{{itm.0.id}}_1"
                           value="группа {{itm.0.item.item.print_group.name}}" hidden>
                <input type="text" id="pg_{{itm.0.id}}_2"
                           value="нанесение {{itm.0.print_name}}" hidden>
                <td class="text-start text-nowrap"><button type="button" class="btn btn-sm btn-outline-secondary"
                                             data-bs-toggle="modal" data-bs-target="#selectFilm"
                                             onclick="select_film({{itm.0.id}});">
                    на пленку&nbsp;<i class="bi bi-arrow-right"></i></button> </td>
                <td class="align-middle">{{itm.0.item.item.print_group.name}}</td>
                <td class="align-middle">{{itm.0.print_name}}</td>
                <td id="filmout_{{itm.0.id}}" class="align-middle">{% if itm.0.film.id == None %} нет {% else %}
                    {{itm.0.film.film_id}}&nbsp;{% endif %}
                </td>
                <td class="align-middle" id="dateout_{{itm.0.id}}">{% if itm.0.film.id != None %}{% if itm.0.film.status %}{{itm.0.film.date|date:'d.m.Y'}} {% else %}в работе{% endif %}{% endif %} </td>
                <td class="align-middle text-end">{{itm.1}}</td>
                <td class="align-middle text-end">{{itm.2}}</td>
                <td class="align-middle text-end">{{itm.3|floatformat:2}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>

        </td>
    </tr>


{% endfor %}
</tbody>
</table>
<br><br>

{% endblock %}
