<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'maket/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'maket/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <title>Макет {{ord_imp.order_id}} от {{ord_imp.order_date}} &nbsp {{ord_imp.customer.name}}</title>
</head>
<body>
   <span class="step-links">
        &nbsp;
        <button onclick="window.print()" class="btn btn-outline-primary d-print-none"><i class="bi bi-printer-fill" style="currentColor"></i> Печать</button>
        <a href="{% url 'maket:index' %}" class="btn btn-outline-secondary d-print-none">Назад</a>
    </span><!-- Buttons -->


<div class="row">

<div class="d-flex border border-3 border-primary p-2 m-2" style="width:190mm;">
<div class="col">
    <div class="row">
        <div class="col m-1 fw-bold  lh-1">Макет к заказу {{ord_imp.order_id}}  от {{ord_imp.order_date|date:'d.m.Y'}}</div>
    </div>
<table class="table-sm mb-0">
    <tbody>
        <tr class="lh-1">
            <td class="fw-bold">Поставщик </td>
            <td >{{ord_imp.supplier}}</td>
        </tr>
        <tr class="lh-1">
            <td class="fw-bold">Покупатель </td>
            <td>{{ord_imp.customer_name}}</td>
        </tr>
    </tbody>

<div class=" row d-print-none">
    <div class="col">
    Пленка {{ord_imp.film.film_id}} от {{ord_imp.film.date}}
    {% if ord_imp.film_status %}
    <input class="form-check-input" type="checkbox" checked disabled name="filmstatus" id="filmstatus">
    <label for="filmstatus">без ошибок</label>
    {% else %}
    <input class="form-check-input" type="checkbox" disabled name="filmstatus" id="filmstatus_">
    <label for="filmstatus_"> ошибки </label>
    {% endif %}
    </div>
</div>
</table>
</div>
</div>

<div class="d-flex flex-row border p-2 m-2" style="width:140mm;">
<div class="col align-end d-print-none">
    {% for prd in product_range %}
    <div class="row align-end">
    <div class="col" style="font-size:60%" >{{prd.0}}</div>
    <div class="col" style="font-size:60%" >{{prd.3}}/{{prd.1}} шт.</div>
    <div class="col" class="form-check" style="font-size:60%" >
        <input  class="form-check-input" type="checkbox" name="chck_{{prd.2}}" id="chck_{{prd.2}}" checked>
        <label class="form-check-label" for="chck_{{prd.2}}"> в макет </label>
    </div>
    </div>
    {% endfor %}
</div>
    <div class="col-2">
    <a href="javascript:split_maket({{product_range}});"><button class="btn-sm btn-outline-primary">Выбрать</button> </a>
    </div>
</div><!-- chose items for show -->
</div>
<div class="d-flex align-content-start flex-wrap">

<div class="d-flex p-1 m-1" style="width:192mm;">
<table class="table-sm border border-2 border-success" style="width:190mm;">
    <thead>
    <tr class="text-center lh-1">
        <th scope="col" class="col" style="max-width:4mm; font-size:60%;"> # </th>
        <th scope="col" class="col-1" style="font-size:60%;"> Арт. </th>
        <th scope="col" class="col-3" style="font-size:60%;"> Наименование </th>
        <th scope="col" class="col-2" style="font-size:60%;"> Нанесение </th>
        <th scope="col" class="col-1" style="font-size:60%;"> Кол-во </th>
        <th scope="col" class="col-1" style="font-size:60%;"> Место  </th>
        <th colspan="4" scope="col" class="col-5" style="font-size:60%;">Тип / Цветов / 2-й проход / Положение </th>
<!--          <th scope="col" class="col-2" style="font-size:60%;"> Тип </th>
        <th colspan="2"  style="font-size:60%;"> Цветов / 2-й проход </th>
        <th scope="col" class="col-1" style="font-size:60%;"> Положение </th> <--->

    </tr>
    </thead>
    <tbody>
{% for item in item_import %}
    {% if '34' in item.item_group or '350' in item.item_group %}
    <tr class="lh-1" id="prt_34_">
    {% elif '37' in item.item_group %}
    <tr class="lh-1" id="prt_37_">
    {% elif '711' in item.item_group or '712' in item.item_group or '702' in item.item_group %}
    <tr class="lh-1" id="prt_701_">
    {% else %}
    <tr class="lh-1" id="prt_{{item.item_group}}_">
    {% endif %}
        <td scope="row" class="col text-center" style="max-width:4mm; font-size:60%;"> {{item.print_id}} </td>
        <td scope="col" class="col-1 text-center" style="font-size:60%;"> {{item.code}} </td>
        <td scope="col" class="col-3" style="font-size:60%;"> {{item.name}}</td>
        <td scope="col" class="col-2 text-center" style="font-size:60%;"> {{item.print_name}}</td>
        <td scope="col" class="col-1 text-center" style="font-size:60%;"> {{item.quantity}}</td>
    <td colspan="4">
    <table class="table-sm mb-0">

    {% for prt in print_import %}
    {% if prt.print_id == item.print_id %}
    <tr class="lh-1 align-top">
<!--        <td scope="col" colspan="4" style="font-size:60%;"> </td> <--->
        <td scope="col" class="col-4 text-start" style="min-width:20mm; font-size:60%;"> {{prt.place}} </td>
        <td scope="col" class="col-2 text-center" style="font-size:60%;"> {{prt.type}}</td>
        <td scope="col" class="col-1 text-center" style="min-width:5mm; font-size:60%;"> {{prt.colors}} /</td>
         <td scope="col" class="col-1 text-center" style="font-size:60%;">
        {% if prt.second_pass %}
            <input class="form-check-input" type="checkbox" checked disabled>
        {% else %}
            <input class="form-check-input" type="checkbox" disabled>
        {% endif %}
        </td>
        <td scope="col" class="text-center" style="font-size:60%;"> {{prt.position}} </td>
    </tr>
    {% else %}
    {% endif %}
    {% endfor %}
    </table>
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% for product in product_range %}


{% if 'prt_34' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg34.html' %}
</div><!--340/350--->
{% endif %}

{% if 'prt_3A6' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg3A6.html' %}
</div><!--Block Note A6--->
{% endif %}

{% if 'prt_3A5' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg3A5.html' %}
</div><!--Block Note A5--->
{% endif %}


{% if 'prt_3D5' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg3D5.html' %}
</div><!--Block Note D5--->
{% endif %}

{% if 'prt_701' == product.2 %}
<div class="d-flex">
<div class="col p-1 m-1" id="prt_701">
    <div class="m-2"><img src="{% static 'maket/img/ruler.svg' %}" /></div>
{% for prt in prt_701 %}
    <div class="row lh-1 p-1 m-1">
    <div class="col p-1 m-1" style="max-width:8mm;">{{prt.0.print_id}}</div>
    <div class="col">
    <div class="col p-1 m-1" id="701_left_{{prt.0.id}}">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="142mm" height="13mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
    viewBox="0 0 14200 1300"
     xmlns:xlink="http://www.w3.org/1999/xlink">
     <defs>
      <style type="text/css">
       <![CDATA[
        .str1 {stroke:#5B5B5B;stroke-width:25}
        .str0 {stroke:#888685;stroke-width:7.62}
        .fil4 {fill:none}
        .fil0 {fill:#EEEADE}
        .fil2 {fill:#BEB395}
        .fil1 {fill:#9B8E6B}
        .fil3 {fill:#453930}
        .fil5 {fill:#FA9CA6}
        .fil6 {fill:#00ABC9}
       ]]>
      </style>
     </defs>
     <g id="Слой_x0020_1">
      <metadata id="CorelCorpID_0Corel-Layer"/>
      <g id="_2778996287024">
       <g>
        <path class="fil0" d="M236 745c0,0 83,0 94,0l0 62c-9,0 -89,-2 -98,-2 0,-9 0,-56 4,-60l0 0z"/>
        <path class="fil1" d="M330 807l0 33c-51,4 -212,44 -212,44l-68 -21c-12,-8 -19,-20 -21,-38 -1,-5 11,-22 14,-25 5,-7 14,-10 25,-13 1,20 8,14 24,10 11,-2 30,0 49,-3 32,-3 79,-36 79,11l110 2 0 0z"/>
        <path class="fil1" d="M334 905c-1,2 0,12 0,16 -31,0 -40,-1 -71,-1 -1,0 -33,-6 -34,-6 0,-12 0,-9 0,-9 0,0 82,0 105,0l0 0z"/>
        <path class="fil2" d="M232 730l99 1c0,0 0,17 0,15 0,0 0,-1 0,0 0,0 -95,0 -92,0 -4,6 -7,27 -7,63 -22,-1 -9,-14 -18,-20 -23,-10 -45,4 -76,7 -20,3 -38,2 -48,4 -17,3 -33,15 -37,-1 0,-9 22,-15 33,-19l146 -50 0 0z"/>
        <path class="fil3" d="M333 861c-10,1 -64,1 -99,0 -2,1 -173,-23 -173,-23l0 -13 171 0 0 -16c0,0 89,2 100,0l1 52 0 0z"/>
        <path class="fil2" d="M50 863c-11,-19 -4,-28 -4,-28l7 3 179 23 98 0 0 57 -98 0 -182 -55 0 0z"/>
        <path class="fil4 str0" d="M29 825c0,-10 11,-25 21,-32l182 -63 98 0 0 188 -98 0 -182 -55c-10,-6 -22,-27 -21,-38l0 0z"/>
       </g>
       <g>
        <path fill="{{prt.1}}" d="M336 821l-4 -139c1616,-335 3083,-300 3793,-308l5545 -67 -1 472 1 494 -5545 -20c-710,-2 -2177,45 -3793,-276l4 -156z"/>
        <path fill="{{prt.1}}" d="M9712 309l2557 -20c299,0 749,22 1032,119 284,98 439,234 516,412 24,55 23,84 35,116 29,4 109,0 121,-7 8,-47 -35,-173 -118,-292 -51,-74 -225,-252 -435,-319 -660,-210 -2002,-128 -3016,-135 -31,0 -99,-2 -91,12 -77,85 -214,96 -344,-17 -10,-10 -170,0 -233,-4 -8,-46 7,-127 -2,-140 483,-2 1782,-22 2446,-18 583,4 1278,0 1659,332 180,156 347,454 356,727 7,207 51,210 -333,209l-4152 -12 2 -963z"/>
       </g>
      </g>
     </g>
</svg>

    </div>
    <div class="col p-1 m-1" id="701_opposite_{prt.0.id}}">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="142mm" height="13mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
    viewBox="0 0 14200 1300"
     xmlns:xlink="http://www.w3.org/1999/xlink">
     <defs>
      <style type="text/css">
       <![CDATA[
        .str0 {stroke:#2B2A29;stroke-width:7.62}
        .fil0 {fill:#FA9CA6}
        .fil1 {fill:#00ABC9}
       ]]>
      </style>
     </defs>
     <g id="Слой_x0020_1">
      <metadata id="CorelCorpID_0Corel-Layer"/>
      <g id="_2779081267248">
       <path fill="{{prt.1}}" d="M344 680l-5 -139c1612,-335 3075,-300 3782,-309l5529 -66 -1 472 1 494 -5529 -20c-707,-2 -2170,45 -3782,-276l5 -156z"/>
       <path fill="{{prt.1}}" d="M9735 162l4269 0c267,0 255,976 0,976l-4269 0 0 -976z"/>
      </g>
     </g>
    </svg>
    </div>
    <div class="col p-1 m-1" id="701_right_{{prt.0.id}}">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="142mm" height="13mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
    viewBox="0 0 14200 1300"
     xmlns:xlink="http://www.w3.org/1999/xlink">
     <defs>
      <style type="text/css">
       <![CDATA[
        .str1 {stroke:#5B5B5B;stroke-width:25}
        .str0 {stroke:#888685;stroke-width:7.62}
        .fil4 {fill:none}
        .fil0 {fill:#EEEADE}
        .fil2 {fill:#BEB395}
        .fil1 {fill:#9B8E6B}
        .fil3 {fill:#453930}
        .fil5 {fill:#FA9CA6}
        .fil6 {fill:#00ABC9}
       ]]>
      </style>
     </defs>
     <g id="Слой_x0020_1">
      <metadata id="CorelCorpID_0Corel-Layer"/>
      <g id="_2815310622928">
       <g>
        <path class="fil0" d="M236 555c0,0 83,0 94,0l0 -62c-9,0 -89,2 -98,2 0,9 0,56 4,60l0 0z"/>
        <path class="fil1" d="M330 493l0 -33c-51,-4 -212,-44 -212,-44l-68 21c-12,8 -19,20 -21,38 -1,5 11,22 14,25 5,7 14,10 25,13 1,-20 8,-14 24,-10 11,2 30,0 49,3 32,3 79,36 79,-11l110 -2 0 0z"/>
        <path class="fil1" d="M334 395c-1,-2 0,-12 0,-16 -31,0 -40,1 -71,1 -1,0 -33,6 -34,6 0,12 0,9 0,9 0,0 82,0 105,0l0 0z"/>
        <path class="fil2" d="M232 570l99 -1c0,0 0,-17 0,-15 0,0 0,1 0,0 0,0 -95,0 -92,0 -4,-6 -7,-27 -7,-63 -22,1 -9,14 -18,20 -23,10 -45,-4 -76,-7 -20,-3 -38,-2 -48,-4 -17,-3 -33,-15 -37,1 0,10 22,15 33,19l146 50 0 0z"/>
        <path class="fil3" d="M333 439c-10,-1 -64,-1 -99,0 -2,-1 -173,23 -173,23l0 13 171 0 0 16c0,0 89,-2 100,0l1 -52 0 0z"/>
        <path class="fil2" d="M50 437c-11,19 -4,28 -4,28l7 -3 179 -23 98 0 0 -57 -98 0 -182 55 0 0z"/>
        <path class="fil4 str0" d="M29 475c0,10 11,25 21,32l182 63 98 0 0 -188 -98 0 -182 55c-10,6 -22,27 -21,38l0 0z"/>
       </g>
       <g>
        <path fill="{{prt.1}}" d="M336 479l-4 139c1616,335 3083,300 3793,308l5545 67 -1 -472 1 -494 -5545 20c-710,2 -2177,-45 -3793,276l4 156z"/>
        <path fill="{{prt.1}}" d="M9712 991l2557 20c299,0 749,-22 1032,-119 284,-98 439,-234 516,-412 24,-55 23,-84 35,-116 29,-4 109,0 121,7 8,47 -35,173 -118,292 -51,74 -225,252 -435,319 -660,210 -2002,128 -3016,135 -31,0 -99,2 -91,-12 -77,-85 -214,-96 -344,17 -10,10 -170,0 -233,4 -8,46 7,127 -2,140 483,2 1782,22 2446,18 583,-4 1278,0 1659,-332 180,-156 347,-454 356,-727 7,-207 51,-210 -333,-209l-4152 12 2 963z"/>
       </g>
      </g>
     </g>
</svg>

    </div>
    </div>
    </div>
{% endfor %}
</div>
</div><!--701, 702, 710, 711--->
{% endif %}

{% if 'prt_310' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg310.html' %}
</div><!--Clip 65 mm--->
{% endif %}

{% if 'prt_311' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg311.html' %}
</div><!--Clip 105 mm--->
{% endif %}


{% if 'prt_312' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg312.html' %}
</div><!--Clip 140 mm--->
{% endif %}

{% if 'prt_37' == product.2 %}
<div class="d-flex">
    {% include 'maket/svg/svg37.html' %}
</div><!--PhoneCase--->
{% endif %}

{% if 'prt_101' == product.2 %}
<div class="d-flex">
<div class="col p-1 m-1" id="prt_101">
    <div class="m-2"><img src="{% static 'maket/img/ruler.svg' %}" /></div>
{% for prt in prt_101 %}
    <div class="row lh-1 p-1 m-1">
    <div class="col p-1 m-1" style="max-width:8mm;">{{prt.0.print_id}}</div>
    <div class="col p-1 m-1">

    </div>
    </div>
{% endfor %}
</div>
</div><!--Automat--->
{% endif %}

{% if 'prt_102' == product.2 %}
<div class="d-flex">
<div class="col p-1 m-1" id="prt_102">
    <div class="m-2"><img src="{% static 'maket/img/ruler.svg' %}" /></div>
{% for prt in prt_102 %}
    <div class="row lh-1 p-1 m-1">
    <div class="col p-1 m-1" style="max-width:8mm;">{{prt.0.print_id}}</div>
    <div class="col p-1 m-1">

    </div>
    </div>
{% endfor %}
</div>
</div><!--Arrow--->
{% endif %}

{% if 'prt_105' == product.2 %}
<div class="d-flex">
<div class="col p-1 m-1" id="prt_105">
    <div class="m-2"><img src="{% static 'maket/img/ruler.svg' %}" /></div>
{% for prt in prt_105 %}
    <div class="row lh-1 p-1 m-1">
    <div class="col p-1 m-1" style="max-width:8mm;">{{prt.0.print_id}}</div>
    <div class="col p-1 m-1">

    </div>
    </div>
{% endfor %}
</div>
</div><!--Bolid--->
{% endif %}

{% if 'prt_115' == product.2 %}
<div class="d-flex">
<div class="col p-1 m-1" id="prt_115">
    <div class="m-2"><img src="{% static 'maket/img/ruler.svg' %}" /></div>
{% for prt in prt_115 %}
    <div class="row lh-1 p-1 m-1">
    <div class="col p-1 m-1" style="max-width:8mm;">{{prt.0.print_id}}</div>
    <div class="col p-1 m-1">

    </div>
    </div>
{% endfor %}
</div>
</div><!--Prima--->
{% endif %}

{% if 'prt_120' == product.2 %}
<div class="d-flex">
<div class="col p-1 m-1" id="prt_120">
    <div class="m-2"><img src="{% static 'maket/img/ruler.svg' %}" /></div>
{% for prt in prt_120 %}
    <div class="row lh-1 p-1 m-1">
    <div class="col p-1 m-1" style="max-width:8mm;">{{prt.0.print_id}}</div>
    <div class="col p-1 m-1">

    </div>
    </div>
{% endfor %}
</div>
</div><!--Spot--->
{% endif %}

{% if 'prt_121' == product.2 %}
<div class="d-flex">
<div class="col p-1 m-1" id="prt_121">
    <div class="m-2"><img src="{% static 'maket/img/ruler.svg' %}" /></div>
{% for prt in prt_121 %}
    <div class="row lh-1 p-1 m-1">
    <div class="col p-1 m-1" style="max-width:8mm;">{{prt.0.print_id}}</div>
    <div class="col p-1 m-1">

    </div>
    </div>
{% endfor %}
</div>
</div><!--Spot Lux--->
{% endif %}


{% endfor %}
</div>

<script src="{% static 'maket/maket.js' %}"></script>
<script src="{% static 'maket/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</body>
</html>