{% extends 'maket/main.html' %}
{% block title %}Макеты{% endblock %}
{% block content %}

<br>
    <span class="step-links">
        &nbsp;
<!--        <button onclick="printDiv('print-content')" class="btn btn-outline-success"><i class="bi bi-printer-fill" style="currentColor"></i> Печать</button> -->
        <button onclick="window.print()" class="btn btn-outline-primary d-print-none"><i class="bi bi-printer-fill" style="currentColor"></i> Печать</button>
        <a href="{% url 'maket:index' %}" class="btn btn-outline-danger d-print-none">Назад</a>
<!--        <input type="button" value="Print this page" onClick="window.print()"> -->
    </span>

<div id="print-content" class="g-0">
    <form>
        <h2 style="text-align:center">Макет к заказу</h2>
    </form>
</div>

{% endblock %}