{% load static %}
{% load extras %}

<div class="row p-1 m-1" id="prt_{{product.5}}_{{product.9}}" {% if product.6 == 0 %} style="display:none" {% endif %}>
<div class="col lh-1 p-1 m-1"  >
<div>
{% if product.5 == '121' %} <!-- Defs for gradient for 121><--->
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="144.8mm" height="0.001mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 14480 1600"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <radialGradient id="id0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.68775 1.00327 -1.03427 1.63723 -8955 -13488)" cx="13318.5" cy="198.04" r="3123.86" fx="13318.5" fy="198.04">
   <stop offset="0" style="stop-opacity:1; stop-color:#FECC00"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#D7B56D"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#FCC917"/>
  </radialGradient>
  <radialGradient id="id1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.88343 0.508246 -0.504696 1.89671 -8492 -5401)" cx="9860.92" cy="434.12" r="702.71" fx="9860.92" fy="434.12">
   <stop offset="0" style="stop-opacity:1; stop-color:#FECC00"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#FEFEFE"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#FECC00"/>
  </radialGradient>
    <radialGradient id="id2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.73416 0.732584 -0.768836 2.60524 -16788 -8279)" xlink:href="#id1" cx="9953.17" cy="614.93" r="399.98" fx="9953.17" fy="614.93">
  </radialGradient>
  <radialGradient id="id3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.68775 -1.00327 -1.03427 -1.63723 -7782 16876)" cx="13318.5" cy="1332.37" r="3123.86" fx="13318.5" fy="1332.37">
   <stop offset="0" style="stop-opacity:1; stop-color:#FECC00"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#D7B56D"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#FCC917"/>
  </radialGradient>
  <radialGradient id="id4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.89582 0.50802 -0.482594 1.99573 -8637 -5355)" cx="9835.36" cy="360.23" r="702.71" fx="9835.36" fy="360.23">
   <stop offset="0" style="stop-opacity:1; stop-color:#FECC00"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#FEFEFE"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#FECC00"/>
  </radialGradient>
  <radialGradient id="id5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.88343 -0.508246 -0.504696 -1.89671 -8598 5661)" cx="9860.92" cy="224.2" r="702.71" fx="9860.92" fy="224.2">
   <stop offset="0" style="stop-opacity:1; stop-color:#FECC00"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#FEFEFE"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#FECC00"/>
  </radialGradient>
  <radialGradient id="id6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.98212 -0 -0 1.98212 -9679 -436)" cx="9854.7" cy="444.4" r="702.71" fx="9854.7" fy="444.4">
   <stop offset="0" style="stop-opacity:1; stop-color:#898989"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#FEFEFE"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#898989"/>
  </radialGradient>
  <radialGradient id="id7" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.95292 -0 -0 1.95288 -13113 -544)" cx="13760.8" cy="571.31" r="3100.84" fx="13760.8" fy="571.31">
   <stop offset="0" style="stop-opacity:1; stop-color:#898989"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#FEFEFE"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#898989"/>
  </radialGradient>
  <radialGradient id="id8" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.72949 -0 -0 2.72949 -17234 -1073)" xlink:href="#id0" cx="9964.94" cy="620.51" r="399.98" fx="9964.94" fy="620.51">
  </radialGradient>
  <radialGradient id="id9" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.98212 -0 -0 1.98212 -9656 -349)" xlink:href="#id0" cx="9831.93" cy="355.08" r="702.71" fx="9831.93" fy="355.08">
  </radialGradient>
  <radialGradient id="id10" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.98212 -0 -0 -1.98212 -9679 699)" cx="9854.7" cy="234.47" r="702.71" fx="9854.7" fy="234.47">
   <stop offset="0" style="stop-opacity:1; stop-color:#898989"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#FEFEFE"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#898989"/>
  </radialGradient>
  <radialGradient id="id11" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.98212 -0 -0 1.98212 -9656 -349)" cx="9831.93" cy="355.08" r="702.71" fx="9831.93" fy="355.08">
   <stop offset="0" style="stop-opacity:1; stop-color:#898989"/>
   <stop offset="0.501961" style="stop-opacity:1; stop-color:#FEFEFE"/>
   <stop offset="1" style="stop-opacity:1; stop-color:#898989"/>
  </radialGradient>
 </defs>
 </svg><!--defs for 121><--->
{% endif %}
{% if product.5 == '120' %} <!-- Defs for gradient for 120><--->
{% endif %}
{% for prt in prt_0 %}
{% if prt.2 ==  product.5 and prt.5 == product.9 %}
    <div class="col p-1 ms-1 mt-1 mb-0" id="itm_{{prt.2}}_{{product.9}}_{{prt.0.id}}"  {% if prt.3 == 0 %} style="display:none;" {% endif %}>
{% include 'maket/svg/**_b.html'|replace_value:product.5 %}
    </div>
{% endif %}
{% endfor %}
</div>
    {% if product.5 == '34' %}
    <div class="ms-2 lh-1 mt-0"><img src="{% static 'maket/img/ruler_340.svg' %}" /></div><!--- ruler --->
    {% elif product.5 == '35' %}
    <div class="ms-2 lh-1 mt-0"><img src="{% static 'maket/img/ruler_350.svg' %}" /></div><!--- ruler --->
    {% endif %}
</div>

<div class="col p-1 m-1">
    <div class="col" style="font-size:60%;"><h6>{{product.9}}</h6></div>
{% for prt in prt_0 %}
{% if prt.2 ==  product.5 and prt.5 == product.9 %}
    <div class="d-flex flex-row lh-1">
      <div class="col" style="font-size:60%;">
        <input  class="form-check-input" type="checkbox" name="chck_{{prt.2}}_{{product.9}}_{{prt.0.id}}" id="chck_{{prt.2}}_{{product.9}}_{{prt.0.id}}"
                form="form_maket_{{ord_imp.id}}"  {% if prt.3 == 1 %} checked {% endif %}>
      </div>
      <div class="col" style="font-size:60%;">&nbsp{{prt.0.print_id}}&nbsp</div>
      <div class="col" style="font-size:60%;">&nbsp{{prt.0.item.item_group}}.{{prt.0.item.detail1_color}}&nbsp</div>
      {% include 'maket/svg/**_s.html'|replace_value:product.5 %}
    </div>
{% endif %}
{% endfor %}
    <div class="d-flex flex-row lh-1">

     <div class="col d-print-none" style="font-size:60%;">
        <input  class="form-check-input" type="checkbox" name="chck_{{prt.0.id}}" id="chck_{{product.5}}_{{product.9}}_all"
                form="form_maket_{{ord_imp.id}}">
      </div>
      <div class="col" style="font-size:60%;">выбрать все</div>
    </div>

    <div class="d-print-none p-1 m-1">
        <a href="javascript:chs_note({{prt_0_}},'{{product.5}}_{{product.9}}');">
            <button type="button" class="btn-sm btn-outline-primary">в макет</button> </a>
    </div>
</div>
</div>

