{% extends 'maket/main.html' %}
{% load static %}
{% block title %}Клиенты{% endblock %}
{% block content %}
{% if look_up != True %}
<div class="row fixed-bottom bg-light p-1 mb-0 pb-0 align-items-center" >
<br><br>
    <div class="col-9 text-start">
<div class="pagination" xmlns="http://www.w3.org/1999/html">
    <span class="step-links dropup">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-sm btn-outline-primary">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-primary">предыдущая</a>
        {% endif %}
        <span class="current btn btn-sm btn-outline-secondary">
           {{ page_obj.object_list.0}} - {{ page_obj.object_list.24}} (страница {{ page_obj.number }}  из {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-primary">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-primary">последняя &raquo;</a>
        {% endif %}
    </span>
</div><!-- pagination -->
    </div>
    <div class="col text-end">
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="_ChooseClient"
                    data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Выбрать Клиентов
            </button>
              <ul class="dropdown-menu fw-bold" aria-labelledby="ChooseClient">
                {% for c_range in cst_range %}
              <li><a class="dropdown-item" href="?page={{ c_range.0 }}"> {{ c_range.1 }}</a></li>
                {% endfor %}
              </ul>
    </div>
</div>
{% endif %}

<!--Customer Modal -->
<div class="modal fade" id="custModal" tabindex="-1" aria-labelledby="custModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="custModalLabel">Редактировать Клиента</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="update_cst" method="post" id="form_">
      {% csrf_token %}
      <div class="modal-body">
        <div class="row mb-1">
            <div class="col">
                <label for="id">ID Макеты</label>
                <input class="form-control" type="text" id="id" name="id" readonly form="form_"></div>
            <div class="col">
                <label for="gr_id">ID группы клиентов</label>
                <input class="form-control" type="text" id="gr_id" name="gr_id" form="form_" readonly></div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
            <label for="fr">fr #</label>
            <input class="form-control" type="text" id="fr" name="fr" readonly></div>
            <div class="col-2">
            <label for="rg">регион</label>
            <input class="form-control" type="text" id="rg" name="rg"></div>
            <div class="col-7">
            <label for="rg">ИНН</label>
            <input class="form-control" type="text" id="in" name="in_"></div>
        </div>
        <label for="nm">название</label>
          <textarea class="form-control mb-1" type="text" id="nm" name="nm"></textarea>
        <div class="row mb-1">
            <label for="gr">группа</label>
            <div class="col">
            <input class="form-control" type="text" id="gr" name="gr"></div>
            <div class="col">
            <input class="form-control" type="text" id="gr_o" name="gr_o"></div>
        </div>
        <div class="row mb-1">
            <label for="tp">тип</label>
            <div class="col">
                <select class="form-select" id="tp" name="tp" aria-label="select tp" form="form_">
                  {% for cst_type in customer_types %}
                  <option value="{{cst_type.id}}">{{cst_type.type_name}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col">
            <input class="form-control" type="text" id="tp_o" name="tp_o"></div>
        </div>
        <label for="ad">адрес</label>
          <textarea class="form-control" type="text" id="ad" name="ad"></textarea>
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" onclick="clearModalCustomers();" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" form="form_" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-sm table-hover ms-1">
<thead>
    <tr  class="table-primary">
    <th class="text-nowrap"><h6>Fr #&nbsp;</h6></th>
    <th><h6>Название Клиента</h6></th>
    <th colspan="2"><h6>Группа</h6></th>
    <th colspan="2"><h6>Тип</h6></th>
    <th><h6>Регион</h6></th>
    <th><h6>ИНН</h6></th>
    <th ><h6>Адрес</h6></th>
    </tr>
</thead>
<tbody>

{% for cst in page_obj %}
    <tr onclick="fillModalCustomers(this);" id="row_{{cst.id}}" data-bs-toggle="modal" data-bs-target="#custModal" data-id="{{cst.id}}"
        data-name="{{cst.name}}" data-group_old="{{cst.group}}" data-group="{{cst.customer_group.group_name}}"
        data-type_old="{{cst.type}}" data-type="{{cst.customer_type.id}}" data-region="{{cst.region}}" data-inn="{{cst.inn}}"
        data-address="{{cst.address}}" data-group_id="{{cst.customer_group.id}}" data-fr="{{cst.frigat_id}}">
    <input type="text" hidden value="{{cst.id}}" id="id_{{cst.id}}">
    <td id="fr_{{cst.id}}"><div >{{cst.frigat_id}}</div></td>
    <td id="nm_{{cst.id}}" class="fw-bold"><div >{{cst.name}}</div></td>
    <td id="gr_{{cst.id}}">{{cst.group}}</td>
    <td id="gr2_{{cst.id}}">{{cst.customer_group.group_name}}</td>
    <td id="tp_{{cst.id}}">{{cst.type}}</td>
    <td id="tp2_{{cst.id}}">{{cst.customer_type.type_name}}</td>
    <td id="rg_{{cst.id}}">{{cst.region}}</td>
    <td id="in_{{cst.id}}" >{{cst.inn}}</td>
    <td id="addr_{{cst.id}}">{{cst.address}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<br><br>
<script src="{% static 'dictionarys/dicts.js' %}"></script>

{% endblock %}
