{% extends 'maket/main.html' %}
{% load static %}
{% block title %}Номенклатура{% endblock %}
{% block content %}
<div class="row m-1 p-2 fixed-bottom bg-light">
<div class="pagination" xmlns="http://www.w3.org/1999/html">
    <span class="step-links dropup">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">предыдущая</a>
        {% endif %}
        <span class="current btn btn-outline-secondary">
           {{ page_obj.object_list.19.order_date|date:"d.m.y" }} - {{ page_obj.object_list.0.order_date|date:"d.m.y" }} (страница {{ page_obj.number }}  из {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">последняя &raquo;</a>
        {% endif %}
<!--
        &nbsp
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="_ChooseClient"
                    data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Выбрать даты
            </button>
              <ul class="dropdown-menu fw-bold" aria-labelledby="ChooseClient">
                {% for dt_range in date_range %}
              <li><a class="dropdown-item" href="?page={{ dt_range.0 }}"> {{ dt_range.1 }}</a></li>
                {% endfor %}
              </ul>
<--->
    </span>
<div class="col"></div>
<div class="col text-end"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
              Добавить Номенклатуру
</button></div>
</div><!-- pagination -->

</div>
<!-- Modal --> <form id="add_detail" action="{% url 'dictionarys:add_detail' %}" method="post">
{% csrf_token %}
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Добавление/Редактирование состава</h5>
      </div>
      <div class="modal-body">
         <!--  --->
          <input type="number" class="form-control" form="add_detail" value="{{page_obj.number}}" hidden name="page_no">
          <div class="col p-1">
              <input type="text" class="form-control" name="dt_it_id" id="dt_it_id" placeholder="ID" value="" readonly></div>
          <div class="col p-1">
              <input type="text" class="form-control" name="dt_it_art" id="dt_it_art" placeholder="Артикул"></div>
          <div class="col p-1">
              <input type="text" class="form-control" name="dt_it_nm" id="dt_it_nm"placeholder="Наименование"></div>
          <div class="row p-1">
              <div class="col-3">
              <label for="eco">Эко</label>
              <select class="form-select" name="eco" id="eco"  aria-label="eco">
                  <option value="True">Да</option>
                  <option value="False">Нет</option>
              </select>
              </div>
              <div class="col-9">
              <label for="matrix">Товарная матрица</label>
              <select class="form-select" name="matrix" id="matrix"  aria-label="select color">
                  <option value="blank" selected></option>
              {% for good_mtr in goods_matrix %}
                  <option value="{{good_mtr.id}}">{{good_mtr.matrix_name}}</option>
              {% endfor %}
              </select>
              </div>
          </div>
          <div class="row p-1">
              <div class="col-3"><label for="crm">CRM</label></div>
              <div class="col-9">
              <select class="form-select" name="crm" id="crm"  aria-label="select color">
                  <option value="blank" selected></option>
              {% for good_crm in goods_crm %}
                  <option value="{{good_crm.id}}">{{good_crm.crm_name}}</option>
              {% endfor %}
              </select>
              </div>
          </div>
          <div class="row p-1">
              <div class="col-4"><label for="dt_it_clr">Цветовая схема</label></div>
              <div class="col-8">
              <select class="form-select" name="dt_it_clr" id="dt_it_clr"  aria-label="select color">
                  <option value="blank" selected></option>
              {% for clr in color_scheme %}
                  <option value="{{clr}}">{{clr}}</option>
              {% endfor %}
              </select>
              </div>
          </div>
          <div class="row p-1">
              <div class="col-4"><label for="dt_it_pg">Группа печати</label></div>
              <div class="col-8">
              <select class="form-select" name="dt_it_pg" id="dt_it_pg"  aria-label="select print group">
                  <option value="blank" selected></option>
              {% for pr_g in print_group %}
                  <option value="{{pr_g}}">{{pr_g}}</option>
              {% endfor %}
              </select>
              </div>
          </div>
          <div class="row p-1">
            <div class="col-8">
                <input type="text" class="form-control" name="dt1_nm" id="dt1_nm" placeholder="Деталь 1"></div>
            <div class="col align-right">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="True" id="flexCheck_det1"  name="flexCheck_det1">
              <label class="form-check-label" for="flexCheck_det1" >
                нанесение
              </label>
            </div>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-8">
                <input type="text" class="form-control" name="dt2_nm" id="dt2_nm" placeholder="Деталь 2"></div>
            <div class="col align-right">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="True" id="flexCheck_det2" name="flexCheck_det2">
              <label class="form-check-label" for="flexCheck_det2">
                нанесение
              </label>
            </div>
            </div>
          </div>
           <div class="row p-1">
            <div class="col-8">
                <input type="text" class="form-control" name="dt3_nm" id="dt3_nm" placeholder="Деталь 3"></div>
            <div class="col align-right">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="True"  id="flexCheck_det3" name="flexCheck_det3">
              <label class="form-check-label" for="flexCheck_det3">
                нанесение
              </label>
            </div>
            </div>
           </div>
           <div class="row p-1">
            <div class="col-8">
                <input type="text" class="form-control" name="dt4_nm" id="dt4_nm" placeholder="Деталь 4"></div>
            <div class="col align-right">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="True" id="flexCheck_det4" name="flexCheck_det4">
              <label class="form-check-label" for="flexCheck_det4">
                нанесение
              </label>
            </div>
            </div>
            </div>
           <div class="row p-1">
            <div class="col-8">
                <input type="text" class="form-control" name="dt5_nm" id="dt5_nm" placeholder="Деталь 5"></div>
            <div class="col align-right">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="True" id="flexCheck_det5"  name="flexCheck_det5">
              <label class="form-check-label" for="flexCheck_det5">
                нанесение
              </label>
            </div>
            </div>
            </div>
           <div class="row p-1">
            <div class="col-8">
                <input type="text" class="form-control" name="dt6_nm" id="dt6_nm" placeholder="Деталь 6"></div>
            <div class="col align-right">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="True" id="flexCheck_det6"  name="flexCheck_det6">
              <label class="form-check-label" for="flexCheck_det6">
                нанесение
              </label>
            </div>
            </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearModalGoods();">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</form>

<table class="table table-sm table-hover ms-1" style="font-size: 80%;">
<thead class="sticky-top">
    <tr  class="table-info ">
        <th colspan="19"  class="pt-3"><h5>Номенклатура</h5></th>
    </tr>
    <tr  class="table-info">
    <th><h6>Арт</h6></th>
    <th style="min-width:300px;"><h6>Название</h6></th>
    <th><h6>Эко&nbsp;</h6></th>
    <th><h6>Товарная матрица</h6></th>
    <th><h6>Товар в CRM</h6></th>
    <th><h6>Цветовая группа</h6></th>
    <th><h6>Гр. печати</h6></th>
    <th colspan="12" class="text-center"><h6>Детали</h6></th>
    </tr>
</thead>
<tbody>
{% for good in page_obj %}
    <form action="update_goods/{{good.id}}" method="post" id="form_{{good.id}}">
    {% csrf_token %}
    <tr onclick="fillModalGoods(this)" data-bs-toggle="modal" data-bs-target="#addModal" id="row_{{good.id}}"
        data-id="{{good.id}}" data-art="{{good.item_name}}" data-name="{{good.name}}" data-eco="{{good.eco}}"
        data-crm="{{good.crm.id}}" data-matrix="{{good.matrix.id}}"
        data-color="{{good.color_scheme.scheme_name}}" data-pg="{{good.print_group.code}}"
        data-det1nm="{{good.detail1_name}}" data-det1chck="{{good.detail1_place}}"
        data-det2nm="{{good.detail2_name}}" data-det2chck="{{good.detail2_place}}"
        data-det3nm="{{good.detail3_name}}" data-det3chck="{{good.detail3_place}}"
        data-det4nm="{{good.detail4_name}}" data-det4chck="{{good.detail4_place}}"
        data-det5nm="{{good.detail5_name}}" data-det5chck="{{good.detail5_place}}"
        data-det6nm="{{good.detail6_name}}" data-det6chck="{{good.detail6_place}}">
    <input type="text" hidden value="{{good.id}}" id="id_{{good.id}}">

    <td id="art_{{good.id}}" style="min-width:90px;"><div >{{ good.item_name}}</div></td>
    <td id="nm_{{good.id}}">{{good.name}}</td>
    <td>{% if good.eco %}Да{% else %}Нет{% endif %}</td>
    <td class="text-nowrap">{{good.matrix.matrix_name}}</td>
    <td class="text-nowrap">{{good.crm.crm_name}}</td>
    <td id="cs_{{good.id}}">{{good.color_scheme.scheme_name}}</td>
    <td id="pg_{{good.id}}" >{{good.print_group.code}}</td>
    <td>
        <input type="checkbox" class="form-check-input" name="dt1_chck" disabled id="dt1c_{{good.id}}"
                {% if good.detail1_place %} checked {%endif%} value="True" form="form_{{good.id}}">
    </td>
    <td id="dt1_{{good.id}}" class="text-nowrap">{{good.detail1_name}}</td>
    <td >
        <input type="checkbox" class="form-check-input" name="dt2_chck" disabled id="dt2c_{{good.id}}"
               {% if good.detail2_place %} checked {%endif%} value="True" form="form_{{good.id}}">
    </td>
    <td id="dt2_{{good.id}}" class="text-nowrap">{{good.detail2_name}}</td>
    <td>
        <input type="checkbox" class="form-check-input" name="dt3_chck" disabled id="dt3c_{{good.id}}"
               {% if good.detail3_place %} checked {%endif%} value="True" form="form_{{good.id}}">
    </td>
    <td id="dt3_{{good.id}}" class="text-nowrap">{{good.detail3_name}}</td>
    <td>
        <input type="checkbox" class="form-check-input" name="dt4_chck" disabled id="dt4c_{{good.id}}"
               {% if good.detail4_place %} checked {%endif%} value="True" form="form_{{good.id}}">
    </td>
    <td id="dt4_{{good.id}}" class="text-nowrap">{{good.detail4_name}}</td>
    <td>
        <input type="checkbox" class="form-check-input" name="dt5_chck" disabled id="dt5c_{{good.id}}"
               {% if good.detail5_place %} checked {%endif%} value="True" form="form_{{good.id}}">
    </td>
    <td id="dt5_{{good.id}}" class="text-nowrap">{{good.detail5_name}}</td>
    <td>
        <input type="checkbox" class="form-check-input" name="dt6_chck" disabled id="dt6c_{{good.id}}"
               {% if good.detail6_place %} checked {%endif%} value="True" form="form_{{good.id}}">
    </td>
    <td id="dt6_{{good.id}}" class="text-nowrap">{{good.detail6_name}}</td>

    </tr>
    </form>
{% endfor %}
</tbody>
</table>
<br><br>
<script src="{% static 'dictionarys/dicts.js' %}"></script>

{% endblock %}
