<!DOCTYPE html>
{% load static %}
{% load extras %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'maket/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Bootstrap core CSS -->
<!--    <link href="{% static 'maket/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous"><--->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>{{order.order_id}} &nbsp {{order.customer.name}}</title>
</head>
<body>

<div class="ms-2 mb-5">
    <h4>Все файлы к заказу {{order.order_id}} от {{order.date}}&nbsp;{{order.customer.name}}</h4>
</div>
<div class="row m-2 flex-row">
    <div class="col-1 fw-bold">заказ</div>
    <div class="col-6">
        <a href="/maket/download_order/{{order.id}}" target="_blank">{{order.order_file}}</a>
    </div>
    <div class="col-2"></div>
</div>
{% for mkt in maket %}
<div class="row m-2 flex-row">
    <div class="col-3 fw-bold">макет&nbsp;{{mkt.maket_id}}</div>
    <div class="col-4">
        <a href="/maket/download_maket/{{mkt.id}}" target="_blank">{{mkt.maket_file}}</a>
    </div>
    <div class="col-2"></div>
</div>
{% endfor %}
{% for add in additional_files %}
<div class="row m-2  flex-row">
    <div class="col-3 fw-bold">{{add.comment}}</div>
    <div class="col-4">
        <a href="download_add_file/{{add.id}}" target="_blank">{{add.additional_file}}</a>
    </div>
    <div class="col-2">
        <form action="delete_additional_file/{{add.id}}" method="post">
        {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</div>
{% endfor %}
<div class="ms-2  mt-5">
    <h5>Загрузить дополнительный файл</h5>
</div>
<form action="add_file/{{order.id}}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="m-2 border border-1 border-secondary" style="max-width: 600px;">
<div class="row flex-row mb-2">
    <div class="col-9 m-1 ms-2 mt-3">
        <input class="form-control" type="text" name="comment" placeholder="документ" required>
    </div>
    <div class="col-2 text-end m-1 mt-3">
        <input class="form-control" type="text" name="file_type" required data-bs-toggle="tooltip"
               placeholder="тип" data-bs-title="Расширение файла: pdf будет открывать, другие загружать" value="pdf">
    </div>
</div>
<div class="col-11 m-1 ms-2">
        <input class="form-control" type="file" name="file" required>
</div>
    <div class="text-end m-3 me-4">
        <button type="button" class="btn btn-secondary" onclick="clear_add_file(this);">Очистить</button>
        <button type="submit" class="btn btn-primary">Записать</button>
    </div>
</div>
</form>




<script src="{% static 'maket/jquery.min.js' %}"></script>
<script src="{% static 'addfiles/addfiles.js' %}"></script>
<script src="{% static 'maket/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script>
    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip()
    })
</script>


</body>
</html>