{% extends 'maket/main.html' %}
{% block title %}макеты{% endblock %}
{% block content %}

<div class="row fixed-bottom bg-light p-2" >
{% if look_up != True %}
    <div class="col text-start">
<div class="pagination" xmlns="http://www.w3.org/1999/html">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-sm btn-outline-primary">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-outline-primary">предыдущая</a>
        {% endif %}
        <span class="current btn btn-sm btn-outline-secondary">
           {{ page_obj.object_list.6.0|date:"d.m.y" }} - {{ page_obj.object_list.0.0|date:"d.m.y" }} (страница {{ page_obj.number }}  из {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-outline-primary">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-outline-primary">последняя &raquo;</a>
        {% endif %}
        &nbsp
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="_ChooseClientAdd"
                    data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Выбрать даты
            </button>
              <ul class="dropdown-menu fw-bold" aria-labelledby="ChooseClientAdd">
                {% for dt_range in date_range %}
              <li><a class="dropdown-item" href="?page={{ dt_range.0 }}"> {{ dt_range.1 }}</a></li>
                {% endfor %}
              </ul>

    </span>
</div><!-- pagination -->
    </div>
{% endif %}
    <div class="col text-end">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateFilm" tabindex="-1" aria-labelledby="updateFilmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редактировать пленку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row m-1 p-1">
              <input type="number" id="id" value="" name="id" class="form-control" hidden>
              <div class="col">Номер</div>
              <div class="col"><input type="number" id="#" value="" name="#" class="form-control"></div>
              <div class="col"> от </div>
              <div class="col"><input type="date" id="date" value="" name="date" class="form-control"></div>
          </div>
          <div class="row m-1 p-1">
              <div class="col">Формат </div>
              <div class="col"><input type="text" id="format" value="" name="format" class="form-control"></div>
          </div>
          <div class="row m-1 p-1">
              <div class="col">Отправлено </div>
              <div class="col"><input type="date" id="sent" value="" name="sent" class="form-control"></div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"
                onclick="javascript:update_to_film();">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal upload_film -->
<div class="modal fade" id="uploadFilm" tabindex="-1" aria-labelledby="uploadFilmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title"><div id="uploadFilmLabel"></div>
              <div id="uploadFilmLabel2"></div></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="upload_film" method="post" id="upload_film_" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-body m-1">
         <!-- Выбор файла --->
         <label class="custom-file-label" for="ChoseFilm"></label>
         <input type="file" accept=".cdr" class="custom-file-input form-control col-auto border"
                id="ChoseFilm" name="ChoseFilm" form="upload_film_">
          <input type="number" name="upload_id" id="upload_id" form="upload_film_" hidden>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" name="submit" class="btn btn-primary" form="upload_film_" >Загрузить</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Upload film -->



<table class="table table-sm table-hover table-borderless">
{% for film, item_group in f_group.items %}
    <thead class="table-info">
    <tr>
     <th colspan="2" id="output_{{film.id}}">Пленка: {{film.film_id}} от {{film.date|date:'d.m.Y'}} формат {{film.format}}
         {% if film.status %} выведена {% else %} в работе {% endif %}{{film.date_sent|date:'d.m.Y'}}
     </th>
     <th colspan="2">нанесений {{item_group.0.4}}</th>
     <th>
         <input type="number" id="film_{{film.id}}" value="{{film.film_id}}" hidden>
         <input type="date" id="date_{{film.id}}" value="{{film.date|date:'Y-m-d'}}" hidden>
         <input type="text" id="format_{{film.id}}" value="{{film.format}}" hidden>
         <input type="date" id="sent_{{film.id}}" value="{{film.date_sent|date:'Y-m-d'}}" hidden>
         <button type="button" class="btn btn-sm btn-outline-primary"
                 data-bs-toggle="modal" data-bs-target="#updateFilm"
                 onclick="javascript:update_film({{film.id}});">
             <i class="bi bi-pencil"></i> Редактировать
         </button>
     </th>
     <th>
         <input type="text" hidden id="film1_{{film.id}}" value="Пленка: {{film.film_id}} от {{film.date|date:'d.m.Y'}}">
         <input type="text" hidden id="film2_{{film.id}}" value="формат {{film.format}}{% if film.status %} выведена
         {% else %} в работе {% endif %}{{film.date_sent|date:'d.m.Y'}}">
         <button type="button" class="btn btn-sm btn-outline-primary text-nowrap" style="font-size:90%"
                 data-bs-toggle="modal" data-bs-target="#uploadFilm"
                 onclick="javascript:upload_film({{film.id}});">
            <i class="bi bi-upload"></i> Загрузить
         </button>
         <button type="button" class="btn btn-sm btn-outline-secondary  text-nowrap" id="but_upl_{{film.id}}"
                 onclick="window.open('/maket/download_film/{{film.id}}', '_blank');"
            style="font-size:90%" {% if not film.film_upload %}disabled{% endif %}>
            <i class="bi bi-download"></i> Скачать
         </button>
     </th>
     <th class="text-end fw-normal" style="font-size:100%">К-во</th>
     <th class="text-wrap text-end fw-normal" style="font-size:100%">Tовар</th>
     <th class="text-wrap text-end fw-normal" style="font-size:100%">Нанес.</th>
     <th class="text-wrap text-end fw-normal" style="font-size:100%">Сумма </th>

    </tr>
    <tr style="font-size:100%">
     <th class="fw-normal">Заказ</th>
     <th class="fw-normal">Клиент</th>
     <th class="fw-normal">Макет</th>
     <th class="fw-normal">Группа товара</th>
     <th class="fw-normal">Нанесение</th>
     <th class="fw-normal">Данные по нанесению</th>
     <th class="fw-normal text-end" style="font-size:90%">{{item_group.0.0}}</th>
     <th class="fw-normal text-end" style="font-size:90%">{{item_group.0.1}}</th>
     <th class="fw-normal text-end" style="font-size:90%">{{item_group.0.2|floatformat:1}}</th>
     <th class="fw-normal text-end" style="font-size:90%">{{item_group.0.3}}</th>
    </tr>
    </thead>
    {% for itm in item_group %}
    {% if  itm != item_group.0 %}
    <tbody >
    <tr style="font-size:90%">
      <td ondblclick="window.open('/films/vieworder/{{itm.0.maket.order.id}}',
                     'newwindow',
                     'width=900,height=400');
                      return false;">{{itm.0.maket.order.order_id}}</td>
      <td ondblclick="window.open('/films/vieworder/{{itm.0.maket.order.id}}',
                     'newwindow',
                     'width=900,height=400');
                      return false;">{{itm.0.maket.order.customer.name}}</td>
      <td ondblclick="window.open('/maket_layout/{{itm.0.maket.order.id}}/{{itm.0.maket.maket_id}}', '_blank');  return false;">
          {{itm.0.maket.maket_id}}
      </td>
      <td style="min-width:160px;"
          ondblclick="window.open('/maket_layout/{{itm.0.maket.order.id}}/{{itm.0.maket.maket_id}}', '_blank');  return false;">
          {{itm.0.item.item.print_group.name}}
      </td>
      <td ondblclick="window.open('/maket_layout/{{itm.0.maket.order.id}}/{{itm.0.maket.maket_id}}', '_blank');  return false;">
          {{itm.0.print_name}}
      </td>
      <td style="max-width:300px;">{{itm.5}}</td>
      <td class="text-end">{{itm.1}}</td>
      <td class="text-end">{{itm.2}}</td>
      <td class="text-end">{{itm.3|floatformat:1}}</td>
      <td class="text-end">{{itm.4}}</td>
    </tr>

    </tbody>
    {% endif %}
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
